.pinkSheet{
  background-color: pink;
}
.yellowSheet{
  background-color: lightyellow;
}

.greenSheet {
  background-color: lightgreen;
}

.data{
  background-color: lightgray;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.newRow{
  border: 2px solid black;
}
.tableCenter{
  text-align: center;
}

.accordionSpacing{
  margin-top: 10px;
}

.noMarginTop{
  margin-top: 0px;
}

.error{
  background-color: #085078;
  color: #fff;
  margin: 0 5px 5px 5px;
  height: 20px;
}

.verticalNegotiation{
  margin-bottom: 20px;
}
.horizontalNegotiation{
  margin-left: 20px;
}

body {
  font: "Roboto", "Helvetica Neue", Helvetica, Ariel, sans-sesrif;
  background-color: rgb(241,241,241);
}


header{
  height: 110px;
  background-color: white;
  border-bottom: solid thin gray;

}
main {
  background-color: rgb(241,241,241);
  border-top: solid thin grey;
}
footer {
  background-color: rgb(241,241,241);
}
h2{

  color: gray;
}

label {
  padding: 5px 5px 5px 5px;
}



input[type="radio"] {
  margin-right: 4px;
  margin-left: 4px;
}

input[type="checkbox"] {
  margin-right: 8px;
  margin-left: 8px;

}

#alert{
padding-left: 200px;
margin-bottom: 0px;
}

.grayAlert{
  /*color: gray;*/
  font-size: 1.2em;
}


.container {
  overflow: hidden;
  padding: 0px;
}

.logout {
  float: right;
  margin-right: 15px;
}

.login_page {
  margin: 0 auto;
  margin-top: 100px;
  width: 350px;
}

#headText {
  margin: 20px 0 0 50px;
}


#dataside {

  /*height: 100%;*/
  margin-right: 10px;
  /*border: solid gray;*/
  /*border-right: solid gray;*/
  border-width: thin;
  /*border-radius: 4px;*/
  margin-top: 30px;
  padding-top:20px;
  background-color: white;

}

#dataview {

  /*height:540px;*/
  /*border: solid gray;*/
  /*border-width: thin;
  border-radius: 4px;*/
    /*margin-top: 15px;*/
    background-color: rgb(241,241,241);
    padding-left: 20px;
    /*overflow: scroll;*/
    /*padding-top: 10px;*/
    /*margin-bottom: 50px;*/
}
.verticalAdjustments{
  margin-bottom: 20px;
}
.formSubmit {
  margin-top: 10px;
  margin-bottom: 30px;
}
.moveButton{
  margin-top: 15px;
}

.nav li {
  margin: 20px 0 10px 25px;
}

#telephone {
  width: 110px;
  height: 30px;

}

#telephone:hover {
  background-color: pink;
}

#inperson{
width: 110px;
height: 30px;
}

#inperson:hover {
  background-color: lightyellow;
}

#nonvictim {
width: 110px;
height: 30px;
}

#nonvictim:hover {
  background-color: lightgreen;
}

.button{
  width: 110px;
  height: 30px;
}

.button:hover {
  background-color: lightgreen;
}

.inlineNav {
  list-style: none;
  display: block;
  margin-left: 130px;

}

.inlineNav li {
  float:left
}

.checkBoxList div{
  display: inline;
}

.makeFit{
  font-size: 13.5px;
}
.checkBoxHome{
  margin-bottom: 15px;
}

.dropDownPlayground{
  overflow: scroll;
}

::-webkit-scrollbar{
  width: 5px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
}

.adminWelcome{
  text-align: center;
  margin-bottom: 15px;
}

.adminWelcomeText{
  margin: 0 15px 10px 15px;
}

.stylelessLink{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: none;
}

#formedit {
  border: solid gray;
  border-width: thin;
  width: 500px;
  height: 150px;
  padding-left: 30px;
  margin: 140px 0 0 140px;
}

.edit3 {
  margin-left: 150px;
  margin-bottom: 25px;
}

.adminEdit{
  margin-left: 200px;
}

#back {
  font-size: 15px;
  width: 110px;
  height: 30px;
}

#back:hover {
  background-color: rgb(20, 160, 225);
  color: white;
}

#searchBox {
  margin: 0 0 35px 0;
/*margin: 20px 0 0 100px;
padding: 0 0 0 100px;*/
/*border: solid gray;
border-width: thin;*/
/*width: 600px;
height: 150px;
background-color: lightgray;*/
}

.adminBtn{

  width: 110px;
  height: 30px;
}
.adminBtn:hover {
  background-color: lightgreen;
}

#resultsForm{
margin-top: 10px;

}
.header_image {
  background: url("/images/svc.png") no-repeat;
  background-size: 180px 80px;
    float: left;
    display: inline-block;
    width: 200px;
    height: 160px;
    margin-top: 5px;
  }

  #headText {
    color: rgb(32, 108, 145);
    padding: 25px 0 0 0;
    font-size: 2.5em;
  }

  .dateRange {
    margin: 10px 0 20px 0;
    padding: 0 0 0 20px;
  }

  .otherClientServices{
    margin-bottom: 8px;
  }

  #subBtn {
  margin: 5px 0 10px 0;
  }

  #insDiv {
    height:540px;
    margin-right: 10px;
    /*border: solid gray;*/
    /*border-width: thin;
    border-radius: 4px;*/
    /*margin-top: 30px;*/
    padding-top:40px;
    background-color: rgb(241, 241, 241);
    /*border-top: solid thin grey;*/
  }

/*accordian*/


/* Keri css fixes*/
.userEntry {
  padding-top: 20px;
}
.adminInstructions {
  padding-left: 10px;
  padding-right: 10px;
}
.updateButton {
  margin-top: 10px;
  margin-bottom: 30px;
}
.formHeader {
  border-bottom: solid 1px gray;
}
.panel-default >.panel-heading {
    background-color: rgb(32, 106, 145);
    color: #fff
}


.sidebar1 {
    background: #085078;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#085078, #85D8CE);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#085078, #85D8CE);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#085078, #85D8CE));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#085078, #85D8CE);
    /* Standard syntax */
    padding: 0px;
    min-height: 100%;
    height: 750px;
    /*margin-top: 40px;*/
    border-radius: 4px;
    /*margin-bottom: -1500px;
    padding-bottom: 1500px;*/
}
.logo {
    max-height: 130px;
}
.logo>img {
    margin-top: 30px;
    padding: 3px;
    border: 3px solid white;
    border-radius: 100%;
}
.list {
    color: #fff;
    list-style: none;
    padding-left: 0px;
}
.list::first-line {
    color: rgba(255, 255, 255, 0.5);
}
.menuList {
    color: #fff;
}
.sidebarTitle {
    color: rgba(255, 255, 255, 0.5);
    padding-left: 15px;
    text-align: center;
}
.list> li, h5 {
    padding: 5px 0px 5px 40px;
}
.list>li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 5px solid white;
    color: white;
    font-weight: bolder;
    padding-left: 35px;
    cursor: default;
}.main-content{
text-align:center;
}

#success{
  color: lightgreen;
  font-size: 2.0em;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/*data playground styling*/



/*kims fixes for presentation*/
.kim_padding{
  padding-left: 20px;
}

.kimInput{
  margin-left: 29px;
}
.kimMakeFit{
    font-size: 13px;
}
.kimMakeFitX{
    font-size: 12.5px;
}
.kim_padding_top{
  margin-top: -10px;
  padding-bottom: 5px;
}
.ageInput{
  width: 50px;
}
.zipCodeInput{
  width: 100px;
}
.kimFormHeader {
  border-bottom: solid 1px gray;
}
.kim_print_button{
  margin-top: 15px;
}
.kim_home{
  margin-left: 4px;
}

.kim_lower{
  margin-bottom: 10px;
}

.modal-header{
  background-color: #085078;
  color: #fff;
}
