.pinkSheet{
  background-color: pink;
}
.yellowSheet{
  background-color: lightyellow;
}

.greenSheet {
  background-color: lightgreen;
}

.data{
  background-color: lightgray;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

header{
  height: 50px;
  background-color: black
}

h2{
  margin-left: 125px;
}

.container {

}


#dataside {

  height:450px;
  margin-right: 10px;
  border: solid gray;
  border-width: thin;
  border-radius: 4px;
  margin-top: 30px;
  padding-top:20px;
  background-color: white;

}

#dataview {

  height:450px;
  border: solid gray;
  border-width: thin;
  border-radius: 4px;
    margin-top: 30px;
    background-color: white;
    overflow: scroll;
}

.nav li {
  margin: 20px 0 10px 25px;
}

#telephone {
  width: 110px;
  height: 30px;

}

#telephone:hover {
  background-color: pink;
}

#inperson{
width: 110px;
height: 30px;
}

#inperson:hover {
  background-color: lightyellow;
}

#nonvictim {
width: 110px;
height: 30px;
}

#nonvictim:hover {
  background-color: lightgreen;
}

.button{
  width: 110px;
  height: 30px;
}

.button:hover {
  background-color: lightgreen;
}

.inlineNav {
  list-style: none;
  display: block;
  margin-left: 130px;

}

.inlineNav li {
  float:left

}

#formedit {
  border: solid gray;
  border-width: thin;
  width: 500px;
  height: 150px;
  padding-left: 30px;
  margin: 140px 0 0 140px;
}

.edit3 {
  margin-left: 150px;
  margin-bottom: 25px;
}

.adminEdit{
  margin-left: 200px;
}


/*accordian*/

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
