.pinkSheet{
  background-color: pink;
}
.yellowSheet{
  background-color: lightyellow;
}

.greenSheet {
  background-color: lightgreen;
}

.data{
  background-color: lightgray;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

header{
  height: 110px;
  /*background-color: black*/
  border-bottom: solid thin gray;
}

h2{
  margin-left: 125px;
  color: gray;
}

.container {

}

#headText {
  margin: 20px 0 0 50px;
}


#dataside {

  height:450px;
  margin-right: 10px;
  border: solid gray;
  border-width: thin;
  border-radius: 4px;
  margin-top: 30px;
  padding-top:20px;
  background-color: white;

}

#dataview {

  height:450px;
  border: solid gray;
  border-width: thin;
  border-radius: 4px;
    margin-top: 30px;
    background-color: white;
    overflow: scroll;
}

.nav li {
  margin: 20px 0 10px 25px;
}

#telephone {
  width: 110px;
  height: 30px;

}

#telephone:hover {
  background-color: pink;
}

#inperson{
width: 110px;
height: 30px;
}

#inperson:hover {
  background-color: lightyellow;
}

#nonvictim {
width: 110px;
height: 30px;
}

#nonvictim:hover {
  background-color: lightgreen;
}

.button{
  width: 110px;
  height: 30px;
}

.button:hover {
  background-color: lightgreen;
}

.inlineNav {
  list-style: none;
  display: block;
  margin-left: 130px;

}

.inlineNav li {
  float:left

}

#formedit {
  border: solid gray;
  border-width: thin;
  width: 500px;
  height: 150px;
  padding-left: 30px;
  margin: 140px 0 0 140px;
}

.edit3 {
  margin-left: 150px;
  margin-bottom: 25px;
}

.adminEdit{
  margin-left: 200px;
}

#back {
  font-size: 15px;
}

#back:hover {
  background-color: rgb(20, 160, 225);
  color: white;
}

#searchBox {
margin: 20px 0 0 100px;
padding: 0 0 0 100px;
border: solid gray;
border-width: thin;
width: 600px;
height: 100px;
background-color: lightgray;
}

.adminBtn{

  width: 110px;
  height: 30px;
}
.adminBtn:hover {
  background-color: lightgreen;
}

#resultsForm{
margin-top: 10px;

}
.header_image {
  background: url("/images/svc.png") no-repeat;
  background-size: 180px 80px;
    float: left;
    display: inline-block;
    width: 200px;
    height: 160px;
    margin-top: 5px;
  }

  #headText {
    color: rgb(32, 108, 145);
    padding: 25px 0 0 0;
    font-size: 2.5em;
  }
/*accordian*/



.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
