
<div class ="container">

 <!-- <div class="col-md-2" id="dataside">
   <ul class = "nav">
     <li><button class="adminBtn" Onclick="window.location.href='#reports'">Federal</button></li>
     <li><button class="adminBtn" Onclick="window.location.href='#countyReport'">County</button></li>
     <li><button class="adminBtn" Onclick="window.location.href='#data'">Data Entry</button></li>
     <li><button class="adminBtn" Onclick="window.location.href='#search'">Search/Update</button></li>
     <li><button class="adminBtn" Onclick="window.location.href='#playground'">Playground</button></li>
     <li><button class="adminBtn" Onclick="window.location.href='#users'">Users</button></li>
   </ul>
 </div> -->
 <div class="row">
             <div class="col-md-2 col-sm-4 sidebar1">
                 <div class="logo">
                    <h4 class="sidebarTitle">Admin Launch Page</h4>
                     <!-- <img src="http://lorempixel.com/output/people-q-g-64-64-1.jpg" class="img-responsive center-block" alt="Logo"> -->
                 </div>
                 <br>
                 <div class="left-navigation">
                     <ul class="list">
                         <h5><strong>REPORTS</strong></h5>
                         <li><a class="menuList" Onclick="window.location.href='#reports'">Federal</a></li>
                         <li><a class="menuList" Onclick="window.location.href='#countyReport'">County</a></li>
                         <li><a class="menuList" Onclick="window.location.href='#playground'">Custom</a></li>
                     </ul>

                     <br>

                     <ul class="list">
                         <h5><strong>ACTIONS</strong></h5>
                         <li><a class="menuList" Onclick="window.location.href='#data'">Data Entry</a></li>
                         <li><a class="menuList" Onclick="window.location.href='#search'">Search/Update</a></li>
                         <li><a class="menuList" Onclick="window.location.href='#users'">Users</a></li>
                     </ul>
                 </div>
             </div>

 <div class="col-md-9" id="insDiv">

     <div>
         <script type="text/ng-template" id="group-template.html">
             <div class="panel panel-default">
                 <div class="panel-heading">
                     <h4 class="panel-title">
               <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                 <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
                   {{heading}}
                 </span>
               </a>
             </h4>
                 </div>
                 <div class="panel-collapse collapse" uib-collapse="!isOpen">
                     <div class="panel-body" style="text-align: right" ng-transclude></div>
                 </div>
             </div>
         </script>


         <uib-accordion close-others="oneAtATime">

             <!-- //Individuals who recieved services during the reporting period -->

             <div uib-accordion-group class="panel-default text-center" heading="Instructions" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                 <div class="row text-left adminInstructions">
                         <strong><center>Welcome!</center></strong>
                         <br />
                         <br />
                         <p>From here you can view the Federal or County reports by clicking the buttons on the left hand side of you screen. You also have access to the Data Entry View. The "Search/Update" button allows you to enter a confirmation number for a form that has already been entered so you can view the information that is in that specific form.</p>

                 </div>

             </div>

         </uib-accordion>
     </div>
 </div>
</div>
</div>
