  <div class="container">
    <div class="alert alert-warning" id="alert">
      <strong class="grayAlert">SVC In-Person Contact Form: </strong> Please ensure you are using the YELLOW form on this page.
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-4 sidebar1">
        <div class="logo">
          <h4 class="sidebarTitle">Data Entry Page</h4>
        </div>
        </br>
        <div class="left-navigation">
          <ul class="list">
            <h5><strong>FORMS</strong></h5>
            <li><a class="menuList" Onclick="window.location.href='#phone'"><i class="fa fa-phone"></i> Telephone</a></li>
            <li><a class="menuList" Onclick="window.location.href='#inperson'"><span class="glyphicon glyphicon-user"></span> In Person</a></li>
            <li><a class="menuList" Onclick="window.location.href='#nonvictim'">&#10010 Non-Victim</a></li>
          </ul>
        </br>
        <ul class="list">
          <h5><strong>ACTIONS</strong></h5>
          <li><a id="back" class="menuList" Onclick="window.location.href='#data'">&#8678 Back</a></li>
        </ul>
      </div>
    </div>
    <div class="error" ng-show="showMessage">
        <strong>{{message}}</strong>
    </div>
    <div class="col-md-9" id="dataview">
      <div>
        <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
          <h3>Successful Entry</h3>
        </div>
        <div class="modal-body">
          <h4><strong>Confirmation #: {{confirmation}}</strong></h4>
        </div>
        </script>
      </div>
    <form name="victimForm">
      <div id="svcAdvocacy">
        <h3 class="formHeader">In-Person Contact Form</h3>
        <div class="advocacyType">
          <label for="advocacyType">Type of Advocacy:</label>
            <input class="phone" type="text" ng-model="form.advocacyType" ng-init="form.advocacyType='in-person'" ng-value="In-person"  placeholder="In-Person Advocacy" readonly/>
          <div class="counselor">
            <label for="counselorName">Advocate/Counselor Name:</label>
            <input class="counselorInput" type="text" ng-model="form.counselor" />
          </div>
          <div class="date">
            <label for="date">Date:</label>
            <input class="dateInput" type="date" ng-model="form.date" />
          </div>

          <!-- With 'time' dates come out translated into a 24-hour format -->

          <div class="startTime">
            <label for="startTime">Start Time:</label>
            <input class="sTimeInput" type="time" ng-model="form.sTime" />
          </div>

          <!-- With 'time' dates come out translated into a 24-hour format -->

          <div class="endTime">
            <label for="endTime">End Time:</label>
            <input class="eTimeInput" type="time" ng-model="form.eTime" />
          </div>
          <div class="location">
            <label for="location">Location (Where services are being provided):</label>
            <input class="locationInput" type="text" ng-model="form.location" />
          </div>
          <div class="county">
            <label for="county">County:</label>
            <select ng-model="form.county">
              <option value="">Select One</option>
              <option value="Anoka">Anoka</option>
              <option value="Carver">Carver</option>
              <option value="Dakota">Dakota</option>
              <option value="Hennepin">Hennepin</option>
              <option value="Ramsey">Ramsey</option>
              <option value="Scott">Scott</option>
              <option value="Washington">Washington</option>
              <option value="other">Other</option>
            </select>
          </div>
        </div>
        <div id="victimInfo">
          <div class="clientNumber">
            <label for="clientNumber">Client Number:</label>
            <input class="clientNumberInput" type="text" ng-model="form.clientNumber" />
          </div>
          <div class="zipCode">
            <label for="zipCode">Zip Code:</label>
            <input class="zipCodeInput" type="number" ng-model="form.zipCode" />
          </div>
          <div class="victimType">
            <label for="victimType">Type of Victim/Survivor:</label>
            <select ng-model="form.victimType">
              <option value="">Select One</option>
              <option value="adultPrimaryVictim">Adult Primary Victim/Survivor</option>
              <option value="adultSecondaryVictim">Adult Secondary Victim/Survivor</option>
              <option value="youthPrimaryVictim">Youth Primary Victim/Survivor</option>
              <option value="youthSecondaryVictim">Youth Secondary Victim/Survivor</option>
            </select>
          </div>
          <div class="svcPrompt">
            <label for="svcPrompt">How did the Victim/Survivor hear about SVC?</label>
            <input class="svcPromptInput" type="text" ng-model="form.svcPrompt" />
          </div>
          <div class="previousContact">
            <label for="previousContact">Has the Victim/Survivor contacted SVC before?</label>
            <input type="radio" name="previousContact" ng-model="form.previousContact" ng-click="previousVisit = true" ng-value="true">Yes
            <input type="radio" name="previousContact" ng-model="form.previousContact" ng-click="newFiscalYear = true" ng-value="false">No
          </div>
          <div ng-show="previousVisit" class="dateCheck">
            <label for="dateCheck">If YES, was contact made before October 1st, {{checkOctoberFirst}}</label>
            <input type="radio" name="previousVisit" ng-model="form.previousVisit" ng-click="newFiscalYear = true" ng-value="true">Yes
            <input type="radio" name="previousVisit" ng-model="form.previousVisit" ng-click="newFiscalYear = false" ng-value="false">No
          </div>
          <div class="transportation">
            <label for="transportation">Did you provide (taxi) transportation?</label>
            <input type="radio" name="transportation" ng-model="form.transportation" ng-value="true">Yes
            <input type="radio" name="transportation" ng-model="form.transportation" ng-value="false">No
          </div>
          <div ng-show="newFiscalYear">
            <div class="alert alert-info">
              <strong>Demographic Information Needed:</strong> Please enter information below
            </div>
          </div>
          <div class="clientServices">
            <h3 class="formHeader">In-Person Services Provided</h3>
          </div>
          <div class="counseling">
            <label for="counseling"> Crisis Counseling:</label><br>
            <div class="kim_padding_top kim_padding">
              <input type="radio" name="counseling" ng-model="thing.counseling" value="counseling"> One-to-One Counseling
              <input type="radio" name="counseling" ng-model="thing.counseling" value="supportGroup"> Support Group
            </div>
            <div class="legalAdvocacyCriminal">
              <label for="legalAdvocacy">Legal Advocacy Criminal Justice Process:</label><br>
              <div class="kim_padding_top kim_padding">
                <input type="radio" name="legalAdvocacyCriminal" ng-model="thing.legalAdvocacyCriminal" value="lawEnforcementInterview"> Law enforcement interview
                <input type="radio" name="legalAdvocacyCriminal" ng-model="thing.legalAdvocacyCriminal" value="prosecutionRelatedAdvocacy">Prosecution related advocacy
                <input type="radio" name="legalAdvocacyCriminal" ng-model="thing.legalAdvocacyCriminal" value="courtAdvocacy">Court advocacy (criminal case)
              </div>
            <div class="legalAdvocacyCivil">
              <label for="legalAdvocacy">Legal Advocacy Civil Justice Process:</label><br>
              <div class="kim_padding_top kim_padding">
                <input type="radio" name="legalAdvocacyCivil" ng-model="thing.legalAdvocacyCivil" value="assistOFP_HRO"> <span class="kimMakeFitX">Assistance obtaining OFP or HRO</span>
                <input type="radio" name="legalAdvocacyCivil" ng-model="thing.legalAdvocacyCivil" value="immigrationSupport"> <span class="kimMakeFitX">Immigration related support (U Visa, ect.)</span>
                <input type="radio" name="legalAdvocacyCivil" ng-model="thing.legalAdvocacyCivil" value="immigrationSupport"> <span class="kimMakeFitX">Intervention with landloard, acedemic institution or creditor </span>
              </div>
            </div>
            <div class="medicalAdvocacy">
              <label for="medicalAdvocacy">Medical Advocacy:</label><br>
              <div class="kim_padding_top kim_padding">
                <input type="radio" name="medicalAdvocacy" ng-model="thing.medicalAdvocacy" value="forensicExamSupport"> Forensic exam support
                <input type="radio" name="medicalAdvocacy" ng-model="thing.medicalAdvocacy" value="accompanyMedicalAppt"> Accompaniment to medical appointment
                <input type="radio" name="medicalAdvocacy" ng-model="thing.medicalAdvocacy" value="accompanyDentalAppt"> Accompaniment to dental appointment
              </div>
            <div class="otherClientServices">
              <label for="otherClientServices">Other In-Person Advocacy Services(check all that apply):</label>
              <div>
                <input type="checkbox" name="clientService" ng-model="form.infoAndReferral" ng-value="true">Information and referral
              </div>
              <div>
                <input type="checkbox" name="clientService" ng-model="form.safeAtHome" ng-value="true">Safe at home registration
              </div>
              <div>
                <input type="checkbox" name="clientService" ng-model="form.emergencyFinancialAsst" ng-value="true">Emergency financial assistance
              </div>
              <div>
                <input type="checkbox" name="clientService" ng-model="form.reparationsClaimAsst" ng-value="true">Reparations claims assistance
              </div>
            </div>
            <div class="referrals">
              <h3 class="formHeader">Referrals</h3>Please fill in name of organization
              <table>
                <tr>
                  <td>
                    <label for="svcServicesReferral">SVC services:</label>
                    <input class="svcServices" type="text" ng-model="form.svcServices" />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="otherAgencyReferral">Other advocacy agency:</label>
                    <input class="otherAgencyInput" type="text" ng-model="form.otherAgencyReferral" />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="otherServicesReferral">Other services, support and resources(specify):</label>
                    <input class="otherServicesReferral" type="text" ng-model="form.otherServicesReferral" />
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <!-- <div ng-show="newFiscalYear" class="demoCollection"> -->
          <div ng-show="newFiscalYear" class="demoCollection">
            <div class="alert alert-info">
              <strong>Demographic information required for this client</strong>
            </div>
            <h3 class="formHeader">Demographics</h3></h3>
            <div class="sexualViolence">
              <label for="sexualViolence">Type of Sexual Violence</label>
              <table>
                <tr>
                  <td>
                    <input type="checkbox" name="sexualViolence" ng-model="form.adultSexAssault" ng-value="true">Adult sexual assault
                  </td>
                  <td>
                    <input type="checkbox" name="sexualViolence" ng-model="form.adultAbusedAsChild_family" ng-value="true">Adult abused as a child - Family
                  </td>
                  <td>
                    <input type="checkbox" name="sexualViolence" ng-model="form.adultAbusedAsChild_other" ng-value="true">Adult abused as a child - Other
                  </td>
                  <td>
                    <input type="checkbox" name="sexualViolence" ng-model="form.exposing" ng-value="true">Exposing
                  </td>
                </tr>
                <tr>
                  <td>
                    <input type="checkbox" name="sexualViolence" ng-model="form.minorCSA_family" ng-value="true">Minor/CSA - Family
                  </td>
                  <td>
                    <input type="checkbox" name="sexualViolence" ng-model="form.minorCSA_other" ng-value="true">Minor/CSA - Other
                  </td>
                  <td>
                    <input type="checkbox" name="sexualViolence" ng-model="form.obscenePhoneCall" ng-value="true">Obscene Phone Call
                  </td>
                  <td>
                    <input type="checkbox" name="sexualViolence" ng-model="form.exploitation_trafficking" ng-value="true">Sexual exploitation/Sex trafficking
                  </td>
                </tr>
                <tr>
                  <td>
                    <input type="checkbox" name="sexualViolence" ng-model="form.sexualHarassment" ng-value="true">Sexual Harassment
                  </td>
                  <td>
                    <input type="checkbox" name="sexualViolence" ng-model="form.stalking" ng-value="true">Stalking
                  </td>
                  <td>
                    <input type="checkbox" name="sexualViolence" ng-model="form.internetRelated" ng-value="true">Internet - Related
                  </td>
                  <td>
                    <input type="checkbox" name="sexualViolence" ng-model="form.unknownViolence" ng-value="true">Unknown/Pass/Doesn't Know
                  </td>
                </tr>
                <tr>
                  <td>
                    <input type="checkbox" name="sexualViolence" ng-model="form.bullying" ng-value="true">Bullying
                  </td>
                  <td>
                    <input type="checkbox" name="sexualViolence" ng-model="form.childPorn" ng-value="true">Child Pornography
                  </td>
                  <td>
                    <input type="checkbox" name="sexualViolence" ng-model="form.domesticViolence" ng-value="true">Domestic Violence
                  </td>
                  <td>
                    <input type="checkbox" name="sexualViolence" ng-model="form.elderAbuse" ng-value="true">Elder Abuse
                  </td>
                </tr>
                <tr>
                  <td>
                    <input type="checkbox" name="sexualViolence" ng-model="form.teenDating" ng-value="true">Teen Dating
                  </td>
                  <td>
                    <input type="checkbox" name="sexualViolence" ng-model="form.sexualViolenceOther" ng-value="true">Other: <input type="text" ng-model="form.sexualViolenceOther_specify" name="otherViolence" placeholder="Other Sexual Violence" />​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
                  </td>
                </tr>
              </table>
              <label for="multiple">Was there MORE than one type of sexual violence?:</label>
              <input type="radio" name="multiple" ng-model="form.multiple" ng-value="true"> Yes
              <input type="radio" name="multiple" ng-model="form.multiple" ng-value="false"> No
            </div>
              <div class="victimDemoSurvey">
                <label for="victimDemoSurvey">Victim/Survivor Demographic Survey</label>
                <label for="age">Age:</label>
                <input class="ageInput" type="number" ng-model="form.age" />
                </br>
                <label for="gender">Gender:</label>
                <input type="radio" name="gender" ng-model="form.gender" value="Male"> Male
                <input type="radio" name="gender" ng-model="form.gender" value="Female"> Female
                <input type="radio" name="gender" ng-model="form.gender" value="Non-binary"> Non-binary
                <input type="radio" name="gender" ng-model="form.gender" value="other"> Other
                </br>
                <label for="transgender">Transgender:</label>
                <input type="radio" name="transgender" ng-model="form.trans" value="true"> Yes
                <input type="radio" name="transgender" ng-model="form.trans" value="false"> No
                <input type="radio" name="transgender" ng-model="form.trans" value="null"> Unknown/Pass
                <div class="sexualOrientation">
                  <label for="sexualOrientation">Sexual Orientation:</label>
                  <!-- <input class="orientationInput" type="text" ng-model="form.orientation" /> -->
                  <select ng-model="form.orientation">
                    <option value="">Select One</option>
                    <option value="Hetrosexual">Hetrosexual</option>
                    <option value="Lesbian">Lesbian</option>
                    <option value="Gay">Gay</option>
                    <option value="Bi-sexual">Bi-sexual</option>
                    <option value="Other">Other</option>
                    <option value="Unknown/pass">Unknown/pass</option>
                  </select>
                </div>
              </div>
              <div class="disability">
                <label for="disability">Disability Status</label>
                <table>
                  <tr>
                    <td>
                      <input type="checkbox" name="disability" ng-model="form.blind_visImpair" ng-value="true">Blind/Visually Impaired
                    </td>
                    <td>
                      <input type="checkbox" name="disability" ng-model="form.physDisabled" ng-value="true"><span class="makeFit">Physical disabilities</span>
                    </td>
                    <td>
                      <input type="checkbox" name="disability" ng-model="form.mentDisabled" ng-value="true">Mental illness
                    </td>
                    <td>
                      <input type="checkbox" name="disability" ng-model="form.deafHardHearing" ng-value="true">Deaf/hard hearing
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="checkbox" name="disability" ng-model="form.devDisabled" ng-value="true"><span class="makeFit">Intellectual or developmental disabilities</span>
                    </td>
                    <td>
                      <input type="checkbox" name="disability" ng-model="form.notDisabled" ng-value="true">None
                    </td>
                    <td>
                      <input type="checkbox" name="disability" ng-model="form.unknownDisabled" ng-value="true"><span class="makeFit">Unknown/pass/doesn't know</span>
                    </td>
                    <td>
                      <input type="checkbox" name="disability" ng-model="form.otherDisabled" ng-value="true">Other: <input type="text" ng-model="form.otherDisabled_specify" name="otherDisability" placeholder="Other Disability" />​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
                    </td>
                  </tr>
                </table>
              </div>
              <div class="ethnicDetails">
                <label for="ethnicBackground">Ethnic Background:</label>
                <select ng-model="form.ethnicBackground">
                  <option value="">Select One</option>
                  <option value="Asian">Asian</option>
                  <option value="African American/Black">African American/Black</option>
                  <option value="Chican@Latina@">Chican@Latin@</option>
                  <option value="Multi-racial">Multi-Racial</option>
                  <option value="Native American">Native American</option>
                  <option value="Native Hawaiian/Pacific Islander">Native Hawaiian/Pacific Islander</option>
                  <option value="White non-Latino/Caucasian">White non-Latino/Caucasian</option>
                  <option value="Other">Other</option>
                  <option value="unknown">Unknown/pass</option>
                  <!-- <option ng-model="form.ethnicBackground" value="Other">Other</option> -->
                </select>
                <input type="text" ng-model="form.other_ethnicBackground" name="other_ethnicBackground" placeholder="Other Ethnicity" />​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
                <div>
                  <label for="immigrantStatus">Immigrant Status:</label>
                  <select ng-model="form.immigrantStatus">
                    <option value="">Select One</option>
                    <option value="Africa">Africa</option>
                    <option value="Asia">Asia</option>
                    <option value="Europe">Europe</option>
                    <option value="Mex/Cen/So America">Mex/Cen/So America</option>
                    <option value="Middle East">Middle East</option>
                    <option value="Other">Other</option>
                    <option value="Unknown">Unknown/pass/doesn't know</option>
                    <option value="No">No</option>
                    <!-- <option ng-model="form.immigrantStatus" value="Other">Other</option> -->
                  </select>
                  <input type="text" ng-model="form.other_immigrantStatus" name="other_immigrantStatus" placeholder="Other Immigration" />​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
                </div>
                <div>
                  <label for="otherStatus">Other (check all that apply):</label>
                  <div>
                    <input type="checkbox" name="clientStatus" ng-model="form.homeless" ng-value="true">Currently Homeless
                  </div>
                  <div>
                    <input type="checkbox" name="clientStatus" ng-model="form.limitedEnglish" ng-value="true">Limited English proficiency
                  </div>
                  <div>
                    <input type="checkbox" name="clientStatus" ng-model="form.veteran" ng-value="true">U.S. Veteran
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <input class="formSubmit btn btn-default" type="submit" name="submit" value="Submit" ng-click="submitVictimForm()" />
    </form>
  </div>
</div>
