<div ng-controller="phoneController">
<h2>SVC Telephone Contact Form</h2>
<div class="alert alert-danger fade in">
  <strong>SVC Telephone Form:</strong> Please ensure you are using the pink form on this page.
</div>
<div class="container">

  <div class="row">
    <div class="col-md-2" id="dataside">
      <ul class = "nav">
        <!-- <li><button id="telephone" Onclick="window.location.href='#phone'">Telephone</button></li> -->
        <li><button id="inperson" Onclick="window.location.href='#inperson'">In-Person</button></li>
        <li><button id="nonvictim" Onclick="window.location.href='#nonvictim'">Non-Victim</button></li>
        <li><button id="back" Onclick="window.location.href='#data'">&#8678 Back</button></li>
      </ul>
    </div>
    <div class="col-md-9" id="pinkview">
    <form ng-submit="submitPinkForm()">
        <div id="svcAdvocacy">
            <div class="counselor">
                <label for="counselorName">Advocate/Counselor Name:</label>
                <input class="counselorInput" type="text" ng-model="form.counselor" />
            </div>
            <div class="date">
                <label for="date">Date:</label>
                <input class="dateInput" type="date" ng-model="form.date" />
            </div>

            <!-- With 'time' dates come out translated into a 24-hour format -->

            <div class="startTime">
                <label for="startTime">Start Time:</label>
                <input class="sTimeInput" type="time" ng-model="form.sTime" />
            </div>

            <!-- With 'time' dates come out translated into a 24-hour format -->

            <div class="endTime">
                <label for="endTime">End Time:</label>
                <input class="eTimeInput" type="time" ng-model="form.eTime" />
            </div>
            <div class="location">
                <label for="location">Location (Where services are being provided):</label>
                <input class="locationInput" type="text" ng-model="form.location" />
            </div>
            <div class="county">
                <label for="county">County:</label>
                <input type="radio" name="location" ng-model="form.county" value="Hennepin">Hennepin
                <input type="radio" name="location" ng-model="form.county" value="Scott">Scott
                <input type="radio" name="location" ng-model="form.county" value="Carver">Carver
                <input type="radio" name="location" ng-model="form.county" value="">Other <input type="text" ng-model="form.county" name="otherCounty" />​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
            </div>
        </div>
        <div id="victimInfo">
            <div class="zipCode">
                <label for="zipCode">Zip Code:</label>
                <input class="zipCodeInput" type="text" ng-model="form.zipCode" />
            </div>
            <div class="victimType">
                <label for="victimType">Type of Victim/Survivor:</label>
                <select>
                    <option ng-model="form.victimType" value="null">--------------------------------</option>
                    <option ng-model="form.victimType" value="adultPrimaryVictim">Adult Primary Victim/Survivor</option>
                    <option ng-model="form.victimType" value="adultSecondaryVictim">Adult Secondary Victim/Survivor</option>
                    <option ng-model="form.victimType" value="youthPrimaryVictim">Youth Primary Victim/Survivor</option>
                    <option ng-model="form.victimType" value="youthSecondaryVictim">Youth Secondary Victim/Survivor</option>
                </select>
            </div>
            <div class="svcPrompt">
                <label for="svcPrompt">How did the Victim/Survivor hear about SVC?</label>
                <input class="svcPromptInput" type="text" ng-model="form.svcPrompt" />
            </div>
            <div class="previousContact">
                <label for="previousContact">Has the Victim/Survivor contacted SVC before?</label>
                <input type="radio" name="previousContact" ng-model="form.previousContact" ng-click="previousContact = true">Yes
                <input type="radio" name="previousContact" ng-model="form.previousContact" ng-click="previousContact = false">No
            </div>
            <div ng-hide="previousVisit" class="dateCheck">
                <label for="dateCheck">If YES, was contact made before October 1st, 2015</label>
                <input type="radio" name="previousContact" ng-model="form.previousContact" ng-click="newFiscalYear = true" value="true">Yes
                <input type="radio" name="previousContact" ng-model="form.previousContact" ng-click="newFiscalYear = false" value="false">No
            </div>
            <div ng-hide="newFiscalYear" class="demoCollection">
                <div class="sexualViolence">
                    <label for="sexualViolence">Type of Sexual Violence</label>
                    <table>
                        <tr>
                            <td>
                                <input type="checkbox" name="sexualViolence" ng-model="form.sexualViolence" value="Adult sexual assaults">Adult sexual assaults
                            </td>
                            <td>
                                <input type="checkbox" name="sexualViolence" ng-model="form.sexualViolence" value="Adult abused as a child - Family">Adult abused as a child - Family
                            </td>
                            <td>
                                <input type="checkbox" name="sexualViolence" ng-model="form.sexualViolence" value="Adult abused as a child - Other">Adult abused as a child - Other
                            </td>
                            <td>
                                <input type="checkbox" name="sexualViolence" ng-model="form.sexualViolence" value="Exposing">Exposing
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" name="sexualViolence" ng-model="form.sexualViolence" value="Minor/CSA - Family">Minor/CSA - Family
                            </td>
                            <td>
                                <input type="checkbox" name="sexualViolence" ng-model="form.sexualViolence" value="Minor/CSA - Other">Minor/CSA - Other
                            </td>
                            <td>
                                <input type="checkbox" name="sexualViolence" ng-model="form.sexualViolence" value="Obscene Phone Call">Obscene Phone Call
                            </td>
                            <td>
                                <input type="checkbox" name="sexualViolence" ng-model="form.sexualViolence" value="Sexual exploitation/Sex trafficking">Sexual exploitation/Sex trafficking
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" name="sexualViolence" ng-model="form.sexualViolence" value="Sexual Harassment">Sexual Harassment
                            </td>
                            <td>
                                <input type="checkbox" name="sexualViolence" ng-model="form.sexualViolence" value="Stalking">Stalking
                            </td>
                            <td>
                                <input type="checkbox" name="sexualViolence" ng-model="form.sexualViolence" value="Internet - Related">Internet - Related
                            </td>
                            <td>
                                <input type="checkbox" name="sexualViolence" ng-model="form.sexualViolence" value="Unknown/Pass/Doesn't Know">Unknown/Pass/Doesn't Know
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" name="sexualViolence" ng-model="form.sexualViolence" value="">Other: <input type="text" ng-model="form.sexualViolence" name="otherViolence" />​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
                            </td>
                        </tr>
                    </table>
                </div>
                <label for="victimDemoSurvey">Victim/Survivor Demographic Survey</label>
                <div class="victimDemoSurvey">
                    <label for="age">Age:</label>
                    <input class="ageInput" type="text" ng-model="form.age" />
                    <label for="gender">Gender:</label>
                    <input type="radio" name="gender" value="Male"> Male
                    <input type="radio" name="gender" value="Female"> Female
                    <label for="transgender">Transgender:</label>
                    <input type="radio" name="transgender" value="true"> Yes
                    <input type="radio" name="transgender" value="false"> No
                    <input type="radio" name="transgender" value="null"> Unknown/Pass
                    <div>
                      <label for="pronouns">Preferred Gender Pronouns:</label>
                      <input class="pronounInput" type="text" ng-model="form.pronouns" />
                      <label for="age">Sexual Orientation:</label>
                      <input class="orientationInput" type="text" ng-model="form.orientation" />
                    </div>
                </div>
                <label for="disability">Disability Status</label>
                <div class="disability">
                  <table>
                    <tr>
                        <td>
                            <input type="checkbox" name="disability" ng-model="form.disability" value="Blind/Visually Impaired">Blind/Visually Impaired
                        </td>
                        <td>
                            <input type="checkbox" name="disability" ng-model="form.disability" value="Developmental Disabilities">Developmental Disabilities
                        </td>
                        <td>
                            <input type="checkbox" name="disability" ng-model="form.disability" value="Physical Disabilities">Physical Disabilities
                        </td>
                        <td>
                            <input type="checkbox" name="disability" ng-model="form.disability" value="Mental Illness">Mental Illness
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" name="disability" ng-model="form.disability" value="Deaf/Hearing Impaired">Deaf/Hearing Impaired
                        </td>
                        <td>
                            <input type="checkbox" name="disability" ng-model="form.disability" value="Unknown/Pass/Client Doesn't Know">Unknown/Pass/Client Doesn't Know
                        </td>
                        <td>
                            <input type="checkbox" name="disability" ng-model="form.disability" value="None">None
                        </td>
                        <td>
                            <input type="checkbox" name="disability" ng-model="form.disability" value="">Other: <input type="text" ng-model="form.disability" name="otherDisability" />​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
                        </td>
                    </tr>
                  </table>
                </div>
                <div class="ethnicDetails">
                  <label for="ethnicBackground">Ethnic Background:</label>
                  <select>
                    <option ng-model="form.ethnicBackground" value="African American">African American</option>
                    <option ng-model="form.ethnicBackground" value="Native American">Native American</option>
                    <option ng-model="form.ethnicBackground" value="Asian/Pacific Islander">Asian/Pacific Islander</option>
                    <option ng-model="form.ethnicBackground" value="European American">European American</option>
                    <option ng-model="form.ethnicBackground" value="Chican@Latin@">Chican@Latin@</option>
                    <option ng-model="form.ethnicBackground" value="Multi-Racial">Multi-Racial</option>
                    <option ng-model="form.ethnicBackground" value="Other">Other</option>
                  </select>
                  <label for="immigrantStatus">Immigrant Status:</label>
                  <select>
                    <option ng-model="form.immigrantStatus" value="Africa">Africa</option>
                    <option ng-model="form.immigrantStatus" value="Asia">Asia</option>
                    <option ng-model="form.immigrantStatus" value="Europe">Europe</option>
                    <option ng-model="form.immigrantStatus" value="Mex/Cen/So America">Mex/Cen/So America</option>
                    <option ng-model="form.immigrantStatus" value="Middle East">Middle East</option>
                    <option ng-model="form.immigrantStatus" value="No">No</option>
                    <option ng-model="form.immigrantStatus" value="Other">Other</option>
                  </select>
                </div>
            </div>
            <div class="clientServices">
              <label for="serviceStatus">Client Services Provided:</label>
              <input type="radio" name="serviceStatus" value="First contact ever crisis counseling"> First contact ever crisis counseling
              <input type="radio" name="serviceStatus" value="Follow-up crisis counseling"> Follow-up crisis counseling
            </div>
            <div class="otherClientServices">
              <label for="otherClientServices">Check All that Apply:</label>
              <div>
                <input type="checkbox" name="clientService" ng-model="form.clientService" value="Personal Advocacy, assisting with other organizations/professional">Personal Advocacy, assisting with other organizations/professional
              </div>
              <div>
                <input type="checkbox" name="clientService" ng-model="form.clientService" value="Criminal Justice Support">Criminal Justice Support
              </div>
              <div>
                <input type="checkbox" name="clientService" ng-model="form.clientService" value="Other Legal Advocacy Support">Other Legal Advocacy Support
              </div>
              <div>
                <input type="checkbox" name="clientService" ng-model="form.clientService" value="Financial Assistance">Financial Assistance
              </div>
              <div>
                <input type="checkbox" name="clientService" ng-model="form.clientService" value="Assisting in Filing Reperations">Assisting in Filing Reperations Claims
              </div>
            </div>
            <div class="referrals">
              <table>
                <tr>
                  <td>
                    <label for="medical">Medical:</label>
                    <input class="medicalInput" type="text" ng-model="form.medicalReferral" />
                  </td>
                  <td>
                    <label for="govSocialServices">Gov't Social Services:</label>
                    <input class="govSSInput" type="text" ng-model="form.govSSReferral" />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="school">School:</label>
                    <input class="schoolInput" type="text" ng-model="form.schoolReferral" />
                  </td>
                  <td>
                    <label for="legalSystem">Legal System:</label>
                    <input class="legalSystemInput" type="text" ng-model="form.legalSystem" />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="lawEnforcement">Law Enforcement:</label>
                    <input class="lawEnforcementInput" type="text" ng-model="form.lawEnforcementReferral" />
                  </td>
                  <td>
                    <label for="svcServices">SVC Services:</label>
                    <input class="svcServicesInput" type="text" ng-model="form.svcServiceReferral" />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="other">Other:</label>
                    <input class="OtherInput" type="text" ng-model="form.otherReferral" />
                  </td>
                </tr>
              </table>
            </div>
        </div>
    </form>
  </div>
  </div>
</div>
</div>
