<h2>Administration Search & Edit</h2>
<div class="container" ng-controller="dataEntryController">
    <div class="row">
        <div class="col-md-2" id="dataside">
            <ul class="nav">
                <li>
                    <button class="adminBtn" Onclick="window.location.href='#reports'">Reports</button>
                </li>
                <li>
                    <button class="adminBtn" Onclick="window.location.href='#data'">Data Entry</button>
                </li>
                <li>
                    <button id="back" Onclick="window.location.href='#admin'">&#8678 Back</button>
                </li>
            </ul>
        </div>
        <div class="col-md-9" id="dataview">

            <div id="searchBox">
                <h3 id="searchText">Edit Form</h3>
                <form >
                    <div class="searchType">
                        <label for="searchType">Type of Search</label>
                        <input type="radio" name="searchType" ng-model="table.phone" ng-value="true">Phone Advocacy
                        <input type="radio" name="searchType" ng-model="table.victim" ng-value="true">In-Person Advocacy
                        <input type="radio" name="searchType" ng-model="table.nonvictim" ng-value="true">Non-Victim
                    </div>
                    <div class="searchEntry">
                        <label for="searchEntry">Enter Confirmation #:</label>
                        <input class="search" type="number" ng-model="formId" />
                        <input type="submit" name="search" value="Search" ng-click="searchUpdate()" />
                    </div>
                </form>
            </div>
            <div ng-show="phone" id="resultsForm">
                <h2>Phone Adv Div</h2>
                <form>
                    <div id="svcAdvocacy">
                      <div class="advocayType">
                          <label for="advocayType">Type of Advocacy:</label>
                          <input class="" type="text" ng-model="form.advocacyType" value="phone" placeholder="Phone Advocacy" readonly/>
                      </div>

                        <div class="counselor">
                            <label for="counselorName">Advocate/Counselor Name:</label>
                            <input class="counselorInput" type="text" ng-model="form.counselor" />
                        </div>
                        <div class="date">
                            <label for="date">Date:</label>
                            <input class="dateInput" type="date" ng-model="form.date" />
                        </div>

                        <!-- With 'time' dates come out translated into a 24-hour format -->

                        <div class="startTime">
                            <label for="startTime">Start Time:</label>
                            <input class="sTimeInput" type="time" ng-model="form.sTime" />
                        </div>

                        <!-- With 'time' dates come out translated into a 24-hour format -->

                        <div class="endTime">
                            <label for="endTime">End Time:</label>
                            <input class="eTimeInput" type="time" ng-model="form.eTime" />
                        </div>

                    </div>
                    <div id="victimInfo">
                        <div class="zipCode">
                            <label for="zipCode">Victim/Survivor Zip Code:</label>
                            <input class="zipCodeInput" type="number" ng-model="form.zipCode" />
                        </div>
                        <div class="victimType">
                            <label for="victimType">Type of Victim/Survivor:</label>
                            <select>
                                <option ng-model="form.victimType" value="null">Select One</option>
                                <option ng-model="form.victimType" value="adultPrimaryVictim">Adult Primary Victim/Survivor</option>
                                <option ng-model="form.victimType" value="adultSecondaryVictim">Adult Secondary Victim/Survivor</option>
                                <option ng-model="form.victimType" value="youthPrimaryVictim">Youth Primary Victim/Survivor</option>
                                <option ng-model="form.victimType" value="youthSecondaryVictim">Youth Secondary Victim/Survivor</option>
                            </select>
                        </div>
                        <div class="svcPrompt">
                            <label for="svcPrompt">How did the Victim/Survivor hear about SVC?</label>
                            <input class="svcPromptInput" type="text" ng-model="form.svcPrompt" />
                        </div>
                        <div class="previousContact">
                            <label for="previousContact">Has the Victim/Survivor contacted SVC before?</label>
                            <input type="radio" name="previousContact" ng-model="form.previousContact" ng-click="previousVisit = true" ng-value="true" >Yes
                            <input type="radio" name="previousContact" ng-model="form.previousContact" ng-click="newFiscalYear = true" ng-value = "false">No
                        </div>
                        <div ng-show="previousVisit" class="dateCheck">
                            <label for="dateCheck">If YES, was contact made before October 1st?</label>
                            <input type="radio" name="previousVisit" ng-model="form.previousVisit" ng-click="newFiscalYear = true" ng-value="true">Yes
                            <input type="radio" name="previousVisit" ng-model="form.previousVisit" ng-click="newFiscalYear = false" ng-value="false">No
                        </div>
                        <div ng-show="newFiscalYear">
                          <div class="alert alert-info">
                            <strong>Demographic Information Needed:</strong> Please enter information below
                          </div>
                        </div>
                        <!-- <div class="clientServices">
                          <label for="serviceStatus">Client Services Provided:</label>
                          <input type="radio" name="serviceStatus" value="First contact ever crisis counseling"> First contact ever crisis counseling
                          <input type="radio" name="serviceStatus" value="Follow-up crisis counseling"> Follow-up crisis counseling
                        </div> -->
                        <div class="otherClientServices">
                          <label for="otherClientServices">Services/Information Provided (check all that apply):</label>
                          <div>
                            <input type="checkbox" name="clientService" ng-model="form.crisis_counseling" ng-value=true>Crisis counseling
                          </div>
                          <div>
                            <input type="checkbox" name="clientService" ng-model="form.infoAndReferral" ng-value=true>Information and/or referral
                          </div>
                          <div>
                            <input type="checkbox" name="clientService" ng-model="form.info_crimjustice" ng-value=true>Information about criminal justice process
                          </div>
                          <div>
                            <input type="checkbox" name="clientService" ng-model="form.other_emergency_justice" ng-value=true>Other emergency justice-related assistance
                          </div>
                          <div>
                            <input type="checkbox" name="clientService" ng-model="form.emergencyFinancialAsst" ng-value=true>Emergency financial assistance
                          </div>
                          <div>
                            <input type="checkbox" name="clientService" ng-model="form.reparationsClaimAsst" ng-value=true>Reperations claims assistance
                          </div>
                        </div>
                        <div class="referrals">
                          <table>
                              <tr>
                                  <td>
                                      <label for="svcServicesReferral">SVC services:</label>
                                      <input class="svcServices" type="text" ng-model="form.svcServices" />
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <label for="otherAgencyReferral">Other advocacy agency:</label>
                                      <input class="otherAgencyInput" type="text" ng-model="form.otherAgencyReferral" />
                                  </td>

                              </tr>
                              <tr>
                                  <td>
                                      <label for="otherServicesReferral">Other services, support and resources(specify):</label>
                                      <input class="otherServicesReferral" type="text" ng-model="form.otherServicesReferral" />
                                  </td>

                              </tr>

                          </table>
                        </div>
                    </div>
                    <div class="supported">
                        <label for="supported">Did you feel that you were supported on this call?</label>
                        <input type="radio" name="supported" ng-model="form.supported"  ng-value="true" >Yes
                        <input type="radio" name="supported" ng-model="form.supported"  ng-value = "false">No
                    </div>
                    <div  class="demoCollection">
                      <div class="alert alert-info">
                        <strong>Demographic Information Goes Here:</strong>
                      </div>
                        <div class="sexualViolence">
                            <label for="sexualViolence">Type of Sexual Violence</label>
                            <table>
                              <tr>
                                  <td>
                                      <input type="checkbox" name="sexualViolence" ng-model="form.adult_sexassault" ng-value="true">Adult sexual assault
                                  </td>
                                  <td>
                                      <input type="checkbox" name="sexualViolence" ng-model="form.adult_abused_as_child_family" ng-value="true">Adult abused as a child - Family
                                  </td>
                                  <td>
                                      <input type="checkbox" name="sexualViolence" ng-model="form.adult_abused_as_child_other" ng-value="true">Adult abused as a child - Other
                                  </td>
                                  <td>
                                      <input type="checkbox" name="sexualViolence" ng-model="form.exposing" ng-value="true">Exposing
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <input type="checkbox" name="sexualViolence" ng-model="form.minor_csa_family" ng-value="true">Minor/CSA - Family
                                  </td>
                                  <td>
                                      <input type="checkbox" name="sexualViolence" ng-model="form.minor_csa_other" ng-value="true">Minor/CSA - Other
                                  </td>
                                  <td>
                                      <input type="checkbox" name="sexualViolence" ng-model="form.obscenePhoneCall" ng-value="true">Obscene Phone Call
                                  </td>
                                  <td>
                                      <input type="checkbox" name="sexualViolence" ng-model="form.exploitation_trafficking" ng-value="true">Sexual exploitation/Sex trafficking
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <input type="checkbox" name="sexualViolence" ng-model="form.sexualHarassment" ng-value="true">Sexual Harassment
                                  </td>
                                  <td>
                                      <input type="checkbox" name="sexualViolence" ng-model="form.stalking" ng-value="true">Stalking
                                  </td>
                                  <td>
                                      <input type="checkbox" name="sexualViolence" ng-model="form.internetRelated" ng-value="true">Internet - Related
                                  </td>
                                  <td>
                                      <input type="checkbox" name="sexualViolence" ng-model="form.unknownViolence" ng-value="true">Unknown/Pass/Doesn't Know
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <input type="checkbox" name="sexualViolence" ng-model="form.bullying" ng-value="true">Bullying
                                  </td>
                                  <td>
                                      <input type="checkbox" name="sexualViolence" ng-model="form.childPorn" ng-value="true">Child Pornography
                                  </td>
                                  <td>
                                      <input type="checkbox" name="sexualViolence" ng-model="form.domesticViolence" ng-value="true">Domestic Violence
                                  </td>
                                  <td>
                                      <input type="checkbox" name="sexualViolence" ng-model="form.elderAbuse" ng-value="true">Elder Abuse
                                  </td>
                              </tr>
                              <tr>
                                <td>
                                  <input type="checkbox" name="sexualViolence" ng-model="form.teenDating" ng-value="true">Teen Dating
                                </td>
                                  <td>
                                      <input type="checkbox" name="sexualViolence" ng-model="form.sexualViolenceOther" ng-value="true">Other: <input type="text" ng-model="form.sexualViolenceOther_specify" name="otherViolence" />​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
                                  </td>
                              </tr>
                            </table>
                            <label for="multiple">Was there MORE than one type of sexual violence?:</label>
                            <input type="radio" name="multiple" ng-model="form.multiple" value="true"> Yes
                            <input type="radio" name="multiple" ng-model="form.multiple" value="false"> No
                        </div>
                        <label for="victimDemoSurvey">Victim/Survivor Demographic Survey</label>
                        <div class="victimDemoSurvey">
                            <label for="age">Age:</label>
                            <input class="ageInput" type="number" ng-model="form.age" />
                          </br>
                            <label for="gender">Gender:</label>
                            <input type="radio" name="gender" value="Male"> Male
                            <input type="radio" name="gender" value="Female"> Female
                            <input type="radio" name="gender" value="Non-binary">Non-binary
                            <input type="radio" name="gender" ng-model="form.gender" value="other"> Other
                          </br>
                            <label for="transgender">Transgender:</label>
                            <input type="radio" name="transgender" ng-value="true"> Yes
                            <input type="radio" name="transgender" ng-value="false"> No
                            <input type="radio" name="transgender" ng-value="null"> Unknown/Pass
                            <div>
                              <!-- <label for="pronouns">Preferred Gender Pronouns:</label>
                              <input class="pronounInput" type="text" ng-model="form.pronouns" /> -->
                              <label for="sexualOrientation">Sexual Orientation:</label>
                              <!-- <input class="orientationInput" type="text" ng-model="form.orientation" /> -->
                              <select>

                                    <option ng-model="form.sexualOrientation" value="null">Select One</option>
                                    <option ng-model="form.sexualOrientation" value="Hetrosexual">Hetrosexual</option>
                                    <option ng-model="form.sexualOrientation" value="Lesbian">Lesbian</option>
                                    <option ng-model="form.sexualOrientation" value="Gay">Gay</option>
                                    <option ng-model="form.sexualOrientation" value="Bi-sexual">Bi-sexual</option>
                                    <option ng-model="form.sexualOrientation" value="other">Other</option>
                                    <option ng-model="form.sexualOrientation" value="Unknown/pass">Unknown/pass</option>

                              </select>
                            </div>
                        </div>
                        <label for="disability">Disability Status</label>
                        <div class="disability">
                          <table>
                            <tr>
                              <tr>
                                  <td>
                                      <input type="checkbox" name="disability" ng-model="form.blind_visImpair" ng-value="true">Blind/Visually Impaired
                                  </td>
                                  <td>
                                      <input type="checkbox" name="disability" ng-model="form.devDisabled" ng-value="true">Physical disabilities
                                  </td>
                                  <td>
                                      <input type="checkbox" name="disability" ng-model="form.physDisabled" ng-value="true">Mental illness
                                  </td>
                                  <td>
                                      <input type="checkbox" name="disability" ng-model="form.mentDisabled" ng-value="true">Deaf/hard hearing
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <input type="checkbox" name="disability" ng-model="form.deafHardHearing" ng-value="true">Intellectual or developmental disabilities
                                  </td>
                                  <td>
                                      <input type="checkbox" name="disability" ng-model="form.unknownDisabled" ng-value="true">Unknown/pass/doesn't know
                                  </td>
                                  <td>
                                      <input type="checkbox" name="disability" ng-model="form.notDisabled" ng-value="true">None
                                  </td>
                                  <td>
                                      <input type="checkbox" name="disability" ng-model="form.otherDisabled" ng-value="true">Other: <input type="text" ng-model="form.otherDisabled_specify" name="otherDisability" />​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
                                  </td>
                              </tr>
                          </table>
                        </div>
                        <div class="ethnicDetails">
                            <label for="ethnicBackground">Ethnic Background:</label>
                            <select>
                            <option  value="">Select One</option>
                            <option ng-model="form.ethnicBackground" value="Asian">Asian</option>
                            <option ng-model="form.ethnicBackground" value="African American/Black">African American/Balck</option>
                            <option ng-model="form.ethnicBackground" value="Chican@Latina@">Chican@Latin@</option>
                            <option ng-model="form.ethnicBackground" value="Multi-racial">Multi-Racial</option>
                            <option ng-model="form.ethnicBackground" value="Native American">Native American</option>
                            <option ng-model="form.ethnicBackground" value="Native Hawaiian/Pacific Islander">Native Hawaiian/Pacific Islander</option>
                            <option ng-model="form.ethnicBackground" value="White non-Latino/Caucasian">White non-Latino/Caucasian</option>
                            <option ng-model="form.ethnicBackground" value="Other">Other</option>
                            <option ng-model="form.ethnicBackground" value="unKnown/pass">Unknown/pass</option>
                            <!-- <option ng-model="form.ethnicBackground" value="Other">Other</option> -->
                          </select>
                            <input type="text" ng-model="form.ethnicBackground" name="otherEthnicBackground" placeholder="Other Ethnicity"/>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
                            <label for="immigrantStatus">Immigrant Status:</label>
                            <select>
                            <option  value="">Select One</option>
                            <option ng-model="form.immigrantStatus" value="Africa">Africa</option>
                            <option ng-model="form.immigrantStatus" value="Asia">Asia</option>
                            <option ng-model="form.immigrantStatus" value="Europe">Europe</option>
                            <option ng-model="form.immigrantStatus" value="Mex/Cen/So America">Mex/Cen/So America</option>
                            <option ng-model="form.immigrantStatus" value="Middle East">Middle East</option>
                            <option ng-model="form.immigrantStatus" value="Other">Other</option>
                            <option ng-model="form.immigrantStatus" value="Unknown">Unknown/pass/doesnt know</option>
                            <option ng-model="form.immigrantStatus" value="No">No</option>
                            <!-- <option ng-model="form.immigrantStatus" value="Other">Other</option> -->
                          </select>
                          <input type="text" ng-model="form.immigrantStatus" name="other.immigrantStatus" placeholder="Immigration Status"/>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
                          <div>
                            <label for="otherStatus">Other (check all that apply):</label>
                            <div>
                                <input type="checkbox" name="clientStatus" ng-model="form.homeless" ng-value="true">Currently Homeless
                            </div>
                            <div>
                                <input type="checkbox" name="clientStatus" ng-model="form.limitedEnglish" ng-value="true">Limited English proficiency
                            </div>
                            <div>
                                <input type="checkbox" name="clientStatus" ng-model="form.veteran" ng-value="true">U.S. Veteran
                            </div>
                          </div>
                    </div>

                </form>


            </div>
            <div ng-show="victim" id="resultsForm">
                <h2>In Person Adv</h2>


            </div>
            <div ng-show="nonvictim" id="resultsForm">
                <h2>nonVic Div</h2>
                <form >
                   <div id="svcAdvocacy">
                       <div class="counselor">
                           <label for="counselorName">Advocate/Counselor Name:</label>
                           <input class="counselorInput" type="text" ng-model="update.advocate_name" />
                       </div>
                       <div class="formId">
                           <label for="formId">Form ID:</label>{{formId}}
                           <!-- <input class="" type="text" ng-model="form.formId"  placeholder={{}} readonly/> -->
                       </div>
                       <div class="date">
                           <label for="date">Date:</label>
                           <input class="dateInput" type="text" ng-model="update.contact_date" />
                       </div>

                       <!-- With 'time' dates come out translated into a 24-hour format -->

                       <div class="startTime">
                           <label for="startTime">Start Time:</label>
                           <input class="sTimeInput" type="text" ng-model="update.start_time" />
                       </div>

                       <!-- With 'time' dates come out translated into a 24-hour format -->

                       <div class="endTime">
                           <label for="endTime">End Time:</label>
                           <input class="eTimeInput" type="text" ng-model="update.end_time" />
                       </div>
                       <div class="callerName">

                           <label for="callerName">Name:</label>
                           <input class="callerInput" type="text" ng-model="update.caller_name" />
                       </div>
                       <div class="callerPhone">
                           <label for="callerPhone">Phone Number:</label>
                           <input class="callerPhone" type="text" ng-model="update.caller_phone" />
                       </div>
                       <div class="callerZip">
                           <label for="callerZip">Zip Code:</label>
                           <input class="callerZip" type="number" ng-model="update.caller_zip" />
                       </div>
                       <div class="county">
                           <label for="county">County:</label>
                           <input type="radio" name="location" ng-model="update.caller_county" value="Hennepin">Hennepin
                           <input type="radio" name="location" ng-model="update.caller_county" value="Scott">Scott
                           <input type="radio" name="location" ng-model="update.caller_county" value="Carver">Carver
                           <input type="radio" name="location" ng-model="update.caller_county" value="">Other <input type="text" ng-model="form.caller_county" name="otherCounty" />​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
                       </div>

                       <div class="callerType">
                           <label for="callerType">Type of Caller:</label>
                           <select ng-model="update.call_type">
                               <option  value="null">Select One</option>
                               <option  value="caseConsultation">Case Consultation</option>
                               <option  value="generalInformation">General Information</option>
                               <option  value="medicalAdvocacy">Medical Advocacy</option>
                           </select>
                       </div>
                       <div class="svcSource">
                           <label for="svcSource">How did the caller hear about SVC?</label>
                           <input class="svcSource" type="text" ng-model="update.svc_source" />
                       </div>
                     </div>
                       <div id="organization">
                       <strong>Organization/Person Calling</strong>
                       <div class="medical">
                           <label for="medical">Medical:</label>
                           <input class="medicalInput" type="text" ng-model="update.type_medical" />
                       </div>
                       <div class="school">
                           <label for="school">School:</label>
                           <input class="schoolInput" type="text" ng-model="update.type_school" />
                       </div>
                       <div class="govtSocial">
                           <label for="govtSocial">Government Social Service:</label>
                           <input class="govtSocialInput" type="text" ng-model="update.type_govt_social" />
                       </div>
                       <div class="communityMember">
                           <label for="communityMember">Community Member:</label>
                           <input class="communityMemberInput" type="text" ng-model="update.type_community_member" />
                       </div>
                       <div class="lawEnforcer">
                           <label for="lawEnforcer">Law Enforcer:</label>
                           <input class="lawEnforcerInput" type="text" ng-model="update.type_law_enforcer" />
                       </div>
                       <div class="legalSystem">
                           <label for="legalSystem">Legal System:</label>
                           <input class="legalSystemInput" type="text" ng-model="update.type_legal_system" />
                       </div>
                       <div class="citySocial">
                           <label for="citySocial">City Social Service:</label>
                           <input class="citySocialInput" type="text" ng-model="update.type_city_social" />
                       </div>
                       <div class="otherOrganization">
                           <label for="otherOrganization">Other:</label>
                           <input class="otherOrganizationInput" type="text" ng-model="update.type_other_oraganization" />
                       </div>
                   </div>
                   <div class="referral">
                     <p>Caller Referral</p>
                     <div class="medicalReferral">
                         <label for="medicalReferral">Medical:</label>
                         <input class="medicalReferralInput" type="text" ng-model="update.referral_medical" />
                     </div>
                     <div class="schoolReferral">
                         <label for="schoolReferral">School:</label>
                         <input class="schoolInputReferral" type="text" ng-model="update.referral_school" />
                     </div>
                     <div class="govtSocialReferral">
                         <label for="govtSocialReferral">Government Social Service:</label>
                         <input class="govtSocialReferralInput" type="text" ng-model="update.referral_govt_social" />
                     </div>
                     <div class="communityMemberReferral">
                         <label for="communityMemberReferral">Community Member:</label>
                         <input class="communityMemberReferralInput" type="text" ng-model="update.referral_community_member" />
                     </div>
                     <div class="lawEnforcerReferral">
                         <label for="lawEnforcerReferral">Law Enforcer:</label>
                         <input class="lawEnforcerReferral" type="text" ng-model="update.referral_law_enforcer" />
                     </div>
                     <div class="legalSystemReferral">
                         <label for="legalSystemReferral">Legal System:</label>
                         <input class="legalSystemInputReferral" type="text" ng-model="update.referral_legal_system" />
                     </div>
                     <div class="citySocialReferral">
                         <label for="citySocialReferral">City Social Service:</label>
                         <input class="citySocialInputReferral" type="text" ng-model="update.referral_city_social" />
                     </div>
                     <div class="otherOrganizationReferral">
                         <label for="otherOrganizationReferral">Other:</label>
                         <input class="otherOrganizationInputReferral" type="text" ng-model="update.referral_other_organization" />
                     </div>
                   </div>
                   <div class="advocacyRequest">
                     <div class="advacacyLocation">

                         <label>Is this an advocacy request?</label>
                         <input type="radio" name="request" ng-model="update.advocacy_request" ng-value="true"> Yes
                         <input type="radio" name="request" ng-model="update.advocacy_request" ng-value="false"> No
                       </br>
                         <label for="advacacyLocation">If yes where to?:</label>
                         <input class="advacacyLocation" type="text" ng-model="update.advacacy_location" />
                     </div>

                     <div class="dispatched">
                         <label for="dispatched">If yes was an advocate dispatched?:</label>
                         <input type="radio" name="dispatched" ng-model="update.advocacy_dispatched" ng-value="true">YES
                         <input type="radio" name="dispatched" ng-model="update.advocacy_dispatched" ng-value="false">NO
                     </div>
                     <div class="responded">
                       <label for="responded">If yes, who responded?:</label>
                       <input class="responded" type="text" ng-model="update.advocacy_med_responder" />
                     </div>
                     <div class="reason">
                       <label for="reason">If no, why not?:</label>
                       <input class="reason" type="text" ng-model="update.dispatched_notes" />
                     </div>

                   </div>
                   <input id="subBtn" type="submit" name="submit" value="Submit" ng-click="formIdCount()"/>
               </form>


            </div>

        </div>
    </div>
</div>
