<div class="container">
  <h3>Add an application user:</h3>
  <h1 class="lead alert alert-danger" role="alert" ng-if="message != ''">{{message}}</h2>
  <form ng-submit="addUser()">
    <div>
        <label for="username">Email:</label>
        <input type="email" ng-model="user.username" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" ng-model="user.password" />
    </div>
    <div>
        <label for="usertype">User type:</label>
        <input type="radio" name="usertype" ng-model="user.type" value="admin" >Admin
        <input type="radio" name="usertype" ng-model="user.type" value ="standard">Standard
    </div>
    <input class="btn btn-default" type="submit" name="submit" value="Submit" />
  </form>
</div>
