<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-4 sidebar1">
        <div class="logo">
           <h4 class="sidebarTitle">User Entry Page</h4>
            <!-- <img src="http://lorempixel.com/output/people-q-g-64-64-1.jpg" class="img-responsive center-block" alt="Logo"> -->
        </div>
        <br>
        <div class="left-navigation">

            <ul  class="list">
                <h5><strong>ACTIONS</strong></h5>
                <li><a  id="admin" class="menuList" Onclick="location.href='#admin'">Back to Admin</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-9 userEntry">
      <h3>Add an application user:</h3>
      <h1 class="lead alert alert-danger" role="alert" ng-if="message != ''">{{message}}</h2>
      <form ng-submit="addUser()">
        <div>
            <label for="username">Email:</label>
            <input type="email" ng-model="user.username" />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" ng-model="user.password" />
        </div>
        <div>
            <label for="usertype">User type:</label>
            <input type="radio" name="usertype" ng-model="user.type" value="admin" >Admin
            <input type="radio" name="usertype" ng-model="user.type" value ="standard">Standard
        </div>
        <input class="btn btn-default" type="submit" name="submit" value="Submit" />
      </form>

      <table class="userArea table table-striped">
        <thead>
          <th><p>Users:</p></th>
        </thead>
        <tbody data-ng-init="getUser()">
          <tr class="userBox" ng-repeat="user in users">
            <td class="userName col-md-8">{{user.username}}</td>
            <td class="col-md-3">{{user.user_type}}</td>
            <td class="col-md-1"><div class="btn btn-default" name="delete" ng-click="deleteUser(user.id)">Delete</div></td>

          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
