<!DOCTYPE html>
<html>
<head>
  <title>SVC County Print</title>
  <link rel="stylesheet" href="../vendors/bootstrap.min.css" />
  <link rel="stylesheet" href="../styles/styleless.css" />
  <script type="text/javascript" src="../vendors/angular.min.js"></script>
  <script type="text/javascript" src="../vendors/angular-route.min.js"></script>
  <script type="text/javascript" src="../vendors/ui-bootstrap-tpls-2.1.4.min.js"></script>
  <script type="text/javascript" src="../scripts/clientApp.js"></script>
  <script type="text/javascript" src="../scripts/controllers/dataEntryController.js"></script>
  <script type="text/javascript" src="../scripts/controllers/homeController.js"></script>
  <script type="text/javascript" src="../scripts/controllers/nonVictimController.js"></script>
  <script type="text/javascript" src="../scripts/controllers/adminController.js"></script>
</head>
<body ng-app="myApp" class="noStyle">
<div ng-controller="adminController">
<h4 id="headText">County Print Reporting</h4>

   <div class="dateRange">
     <P>Select a date ranges for reporting</P>
       <label for="startDate">Start Date:</label>
       <input class="startDate" type="date" ng-model="dateStart" />
       <label for="endDate">End Date:</label>
       <input class="endDate" type="date" ng-model="dateEnd" />
       <button class="button" name="queryButton" ng-click="getStuffCounty()">Go</button> <button onclick="print()">Print this page</button>
   </div>
 <div class ="reportContainer">

 <strong>Hennepin County residents who received services during the reporting period</strong>
 <p class="reportsText">Total Clients Served: 29</p>

 <strong>NEW Hennepin County residents who recieved services during the reporting period</strong>
 <p class="reportsText">Total Clients Served During the Reporting Period: 20</p>
 <p class="reportsText">Total Clients Served in Advocacy Program: 5</p>
 <p class="reportsText">Total Clients Served in Individual Counseling Program: 7</p>
 <p class="reportsText">Total Clients Served in Group Counseling Program: 3</p>
 <!-- <p class="reportsText">Location of Support Groups:{{location.service_location}}</p> -->

 <strong>Hennepin County Zip Code Totals</strong>
<p class="reportsText">55111: 0</p>
<p class="reportsText">55305: 1</p>
<p class="reportsText">55311: 0</p>
<p class="reportsText">55316: 0</p>
<p class="reportsText">55317: 1</p>
<p class="reportsText">55327: 0</p>
<p class="reportsText">55328: 0</p>
<p class="reportsText">55331: 1</p>
<p class="reportsText">55340: 0</p>
<p class="reportsText">55341: 0</p>
<p class="reportsText">55343: 0</p>
<p class="reportsText">55344: 0</p>
<p class="reportsText">55345: 0</p>
<p class="reportsText">55346: 0</p>
<p class="reportsText">55347: 0</p>
<p class="reportsText">55356: 0</p>
<p class="reportsText">55357: 0</p>
<p class="reportsText">55359: 0</p>
<p class="reportsText">55361: 0</p>
<p class="reportsText">55364: 0</p>
<p class="reportsText">55369: 0</p>
<p class="reportsText">55373: 0</p>
<p class="reportsText">55374: 0</p>
<p class="reportsText">55375: 0</p>
<p class="reportsText">55384: 0</p>
<p class="reportsText">55387: 0</p>
<p class="reportsText">55388: 0</p>
<p class="reportsText">55391: 0</p>
<p class="reportsText">55392: 0</p>
<p class="reportsText">55401: 0</p>
<p class="reportsText">55402: 0</p>
<p class="reportsText">55403: 0</p>
<p class="reportsText">55404: 0</p>
<p class="reportsText">55405: 1</p>
<p class="reportsText">55406: 0</p>
<p class="reportsText">55407: 0</p>
<p class="reportsText">55408: 1</p>
<p class="reportsText">55409: 1</p>
<p class="reportsText">55410: 0</p>
<p class="reportsText">55411: 0</p>
<p class="reportsText">55412: 4</p>
<p class="reportsText">55413: 1</p>
<p class="reportsText">55414: 1</p>
<p class="reportsText">55415: 0</p>
<p class="reportsText">55416: 0</p>
<p class="reportsText">55417: 0</p>
<p class="reportsText">55418: 0</p>
<p class="reportsText">55419: 0</p>
<p class="reportsText">55420: 0</p>
<p class="reportsText">55422: 0</p>
<p class="reportsText">55423: 1</p>
<p class="reportsText">55424: 0</p>
<p class="reportsText">55425: 0</p>
<p class="reportsText">55426: 0</p>
<p class="reportsText">55427: 0</p>
<p class="reportsText">55428: 0</p>
<p class="reportsText">55429: 0</p>
<p class="reportsText">55430: 0</p>
<p class="reportsText">55431: 0</p>
<p class="reportsText">55435: 0</p>
<p class="reportsText">55436: 0</p>
<p class="reportsText">55437: 0</p>
<p class="reportsText">55438: 0</p>
<p class="reportsText">55439: 0</p>
<p class="reportsText">55441: 0</p>
<p class="reportsText">55442: 0</p>
<p class="reportsText">55443: 0</p>
<p class="reportsText">55444: 0</p>
<p class="reportsText">55445: 0</p>
<p class="reportsText">55446: 0</p>
<p class="reportsText">55447: 0</p>
<p class="reportsText">55450: 0</p>
<p class="reportsText">55454: 0</p>
<p class="reportsText">55455: 0</p>
<p class="reportsText">Other: 4</p>
<p class="reportsText">Unknown: 3</p>
<p class="reportsText">Total: 20</p>

<strong>Demographics: Age</strong>
<p class="reportsText">0 - 18: 1</p>
<p class="reportsText">19 - 50: 5</p>
<p class="reportsText">50+ Years: 2</p>
<p class="reportsText">Unknown: 6</p>

<strong>Demographics: Gender Identity</strong>
<p class="reportsText">Male: 2</p>
<p class="reportsText">Female: 5</p>
<p class="reportsText">Transgender: 0</p>
<p class="reportsText">Unknown: 6</p>

<strong>Demographics: Race/Ethnicity</strong>
<p class="reportsText">American Indian of Alaskan Native: 0</p>
<p class="reportsText">Asian: 0</p>
<p class="reportsText">Black or African American: 0</p>
<p class="reportsText">Hispanic or Latino: 1</p>
<p class="reportsText">Native Hawaiian or Other Pacific Islander: 0</p>
<p class="reportsText">White Non-Latino or Caucasian: 5</p>
<p class="reportsText">Some Other Race: 0</p>
<p class="reportsText">Multiple Races: 1</p>
<p class="reportsText">Not Reported: 13</p>
<p class="reportsText">Race/Ethnicity Total: 20</p>

<strong>Types of Victimization</strong>
<p class="reportsText">Adult Sexual Assault: 5</p>
<p class="reportsText">Adult Sexually Abused/Assaulted as Children Total: 1</p>
<p class="reportsText">Adult Sexually Abused/Assaulted as Children by Family: 1</p>
<p class="reportsText">Adult Sexually Abused/Assaulted as Children by Other: 0</p>
<p class="reportsText">Bullying: 0</p>
<p class="reportsText">Child Pornography: 0</p>
<p class="reportsText">Child Sexual Abuse/Assault Total: 1</p>
<p class="reportsText">Child Sexual Abuse/Assault by Family: 0</p>
<p class="reportsText">Child Sexual Abuse/Assault by Other: 1</p>
<p class="reportsText">Domestic And/Or Family Violence: 0</p>
<p class="reportsText">Elder Abuse or Neglect: 0</p>
<p class="reportsText">Human Trafficking: Sex: 0</p>
<p class="reportsText">Stalking/Harassment Total: 3</p>
<p class="reportsText">Stalking/Harassment - Exposing: 1</p>
<p class="reportsText">Stalking/Harassment - Harassment: 1</p>
<p class="reportsText">Stalking/Harassment - Internet: 0</p>
<p class="reportsText">Stalking/Harassment - Phone: 0</p>
<p class="reportsText">Stalking/Harassment - Stalking: 1</p>
<p class="reportsText">Teen Dating Victimization: 0</p>
<p class="reportsText">Other: 0</p>
<p class="reportsText">Unknown/Pass/Doesn't Know: 5</p>

<!-- <button Onclick="window.location.href='#admin'">Back</button> -->
<button Onclick="window.location.href='#admin'">Back</button>
 </div>
</div>





</body>
</html>
