<!DOCTYPE html>
<html>

  <head>
      <title>SVC County Print</title>
      <link rel="stylesheet" href="../vendors/bootstrap.min.css" />
      <link rel="stylesheet" href="../styles/styleless.css" />
      <script type="text/javascript" src="../vendors/angular.min.js"></script>
      <script type="text/javascript" src="../vendors/angular-route.min.js"></script>
      <script type="text/javascript" src="../vendors/ui-bootstrap-tpls-2.1.4.min.js"></script>
      <script type="text/javascript" src="../scripts/clientApp.js"></script>
      <script type="text/javascript" src="../scripts/controllers/dataEntryController.js"></script>
      <script type="text/javascript" src="../scripts/controllers/homeController.js"></script>
      <script type="text/javascript" src="../scripts/controllers/nonVictimController.js"></script>
      <script type="text/javascript" src="../scripts/controllers/adminController.js"></script>
  </head>

  <body ng-app="myApp" class="noStyle">
      <div ng-controller="adminController">
          <h4 id="headText">County Print Reporting</h4>

          <div class="dateRange">
              <p>Select a date ranges for reporting</p>
              <label for="startDate">Start Date:</label>
              <input class="startDate" type="date" ng-model="dateStart" />
              <label for="endDate">End Date:</label>
              <input class="endDate" type="date" ng-model="dateEnd" />
              <button class="button" name="queryButton" ng-click="getStuffCounty()">Go</button> <button onclick="print()">Print this page</button>
          </div>
          <div class="reportContainer">

              <strong>Hennepin County residents who received services during the reporting period</strong>
              <p class="reportsText">Total Clients Served:{{countyInfo.total_overall}}</p>

              <strong>NEW Hennepin County residents who recieved services during the reporting period</strong>
              <p class="reportsText">Total Clients Served During the Reporting Period:{{countyInfo.total_new}}</p>
              <p class="reportsText">Total Clients Served in Advocacy Program:{{countyInfo.total_new}}</p>
              <p class="reportsText">Total Clients Served in Individual Counseling Program:{{countyInfo.crisis_counseling_individual}}</p>
              <p class="reportsText">Total Clients Served in Group Counseling Program:{{countyInfo.crisis_counseling_group}}</p>
              <p class="reportsText">Location of Support Groups:{{location.service_location}}</p>

              <strong>Hennepin County Zip Code Totals</strong>
              <p class="reportsText">55111: {{countyInfo.victim_zipcode_55111}}</p>
              <p class="reportsText">55305: {{countyInfo.victim_zipcode_55305}}</p>
              <p class="reportsText">55311: {{countyInfo.victim_zipcode_55311}}</p>
              <p class="reportsText">55316: {{countyInfo.victim_zipcode_55316}}</p>
              <p class="reportsText">55317: {{countyInfo.victim_zipcode_55317}}</p>
              <p class="reportsText">55327: {{countyInfo.victim_zipcode_55327}}</p>
              <p class="reportsText">55328: {{countyInfo.victim_zipcode_55328}}</p>
              <p class="reportsText">55331: {{countyInfo.victim_zipcode_55331}}</p>
              <p class="reportsText">55340: {{countyInfo.victim_zipcode_55340}}</p>
              <p class="reportsText">55341: {{countyInfo.victim_zipcode_55341}}</p>
              <p class="reportsText">55343: {{countyInfo.victim_zipcode_55343}}</p>
              <p class="reportsText">55344: {{countyInfo.victim_zipcode_55344}}</p>
              <p class="reportsText">55345: {{countyInfo.victim_zipcode_55345}}</p>
              <p class="reportsText">55346: {{countyInfo.victim_zipcode_55346}}</p>
              <p class="reportsText">55347: {{countyInfo.victim_zipcode_55347}}</p>
              <p class="reportsText">55356: {{countyInfo.victim_zipcode_55356}}</p>
              <p class="reportsText">55357: {{countyInfo.victim_zipcode_55357}}</p>
              <p class="reportsText">55359: {{countyInfo.victim_zipcode_55359}}</p>
              <p class="reportsText">55361: {{countyInfo.victim_zipcode_55361}}</p>
              <p class="reportsText">55364: {{countyInfo.victim_zipcode_55364}}</p>
              <p class="reportsText">55369: {{countyInfo.victim_zipcode_55369}}</p>
              <p class="reportsText">55373: {{countyInfo.victim_zipcode_55373}}</p>
              <p class="reportsText">55374: {{countyInfo.victim_zipcode_55374}}</p>
              <p class="reportsText">55375: {{countyInfo.victim_zipcode_55375}}</p>
              <p class="reportsText">55384: {{countyInfo.victim_zipcode_55384}}</p>
              <p class="reportsText">55387: {{countyInfo.victim_zipcode_55387}}</p>
              <p class="reportsText">55388: {{countyInfo.victim_zipcode_55388}}</p>
              <p class="reportsText">55391: {{countyInfo.victim_zipcode_55391}}</p>
              <p class="reportsText">55392: {{countyInfo.victim_zipcode_55392}}</p>
              <p class="reportsText">55401: {{countyInfo.victim_zipcode_55401}}</p>
              <p class="reportsText">55402: {{countyInfo.victim_zipcode_55402}}</p>
              <p class="reportsText">55403: {{countyInfo.victim_zipcode_55403}}</p>
              <p class="reportsText">55404: {{countyInfo.victim_zipcode_55404}}</p>
              <p class="reportsText">55405: {{countyInfo.victim_zipcode_55405}}</p>
              <p class="reportsText">55406: {{countyInfo.victim_zipcode_55406}}</p>
              <p class="reportsText">55407: {{countyInfo.victim_zipcode_55407}}</p>
              <p class="reportsText">55408: {{countyInfo.victim_zipcode_55408}}</p>
              <p class="reportsText">55409: {{countyInfo.victim_zipcode_55409}}</p>
              <p class="reportsText">55410: {{countyInfo.victim_zipcode_55410}}</p>
              <p class="reportsText">55411: {{countyInfo.victim_zipcode_55411}}</p>
              <p class="reportsText">55412: {{countyInfo.victim_zipcode_55412}}</p>
              <p class="reportsText">55413: {{countyInfo.victim_zipcode_55413}}</p>
              <p class="reportsText">55414: {{countyInfo.victim_zipcode_55414}}</p>
              <p class="reportsText">55415: {{countyInfo.victim_zipcode_55415}}</p>
              <p class="reportsText">55416: {{countyInfo.victim_zipcode_55416}}</p>
              <p class="reportsText">55417: {{countyInfo.victim_zipcode_55417}}</p>
              <p class="reportsText">55418: {{countyInfo.victim_zipcode_55418}}</p>
              <p class="reportsText">55419: {{countyInfo.victim_zipcode_55419}}</p>
              <p class="reportsText">55420: {{countyInfo.victim_zipcode_55420}}</p>
              <p class="reportsText">55422: {{countyInfo.victim_zipcode_55422}}</p>
              <p class="reportsText">55423: {{countyInfo.victim_zipcode_55423}}</p>
              <p class="reportsText">55424: {{countyInfo.victim_zipcode_55424}}</p>
              <p class="reportsText">55425: {{countyInfo.victim_zipcode_55425}}</p>
              <p class="reportsText">55426: {{countyInfo.victim_zipcode_55426}}</p>
              <p class="reportsText">55427: {{countyInfo.victim_zipcode_55427}}</p>
              <p class="reportsText">55428: {{countyInfo.victim_zipcode_55428}}</p>
              <p class="reportsText">55429: {{countyInfo.victim_zipcode_55429}}</p>
              <p class="reportsText">55430: {{countyInfo.victim_zipcode_55430}}</p>
              <p class="reportsText">55431: {{countyInfo.victim_zipcode_55431}}</p>
              <p class="reportsText">55435: {{countyInfo.victim_zipcode_55435}}</p>
              <p class="reportsText">55436: {{countyInfo.victim_zipcode_55436}}</p>
              <p class="reportsText">55437: {{countyInfo.victim_zipcode_55437}}</p>
              <p class="reportsText">55438: {{countyInfo.victim_zipcode_55438}}</p>
              <p class="reportsText">55439: {{countyInfo.victim_zipcode_55439}}</p>
              <p class="reportsText">55441: {{countyInfo.victim_zipcode_55441}}</p>
              <p class="reportsText">55442: {{countyInfo.victim_zipcode_55442}}</p>
              <p class="reportsText">55443: {{countyInfo.victim_zipcode_55443}}</p>
              <p class="reportsText">55444: {{countyInfo.victim_zipcode_55444}}</p>
              <p class="reportsText">55445: {{countyInfo.victim_zipcode_55445}}</p>
              <p class="reportsText">55446: {{countyInfo.victim_zipcode_55446}}</p>
              <p class="reportsText">55447: {{countyInfo.victim_zipcode_55447}}</p>
              <p class="reportsText">55450: {{countyInfo.victim_zipcode_55450}}</p>
              <p class="reportsText">55454: {{countyInfo.victim_zipcode_55454}}</p>
              <p class="reportsText">55455: {{countyInfo.victim_zipcode_55455}}</p>
              <p class="reportsText">Other: {{countyInfo.victim_zipcode_other}}</p>
              <p class="reportsText">Unknown: {{countyInfo.victim_zipcode_unknown}}</p>
              <p class="reportsText">Total: {{countyInfo.victim_zipcode_total}}</p>

              <strong>Demographics: Age</strong>
              <p class="reportsText">0 - 18: {{countyInfo.victim_age_018}}</p>
              <p class="reportsText">19 - 50:{{countyInfo.victim_age_1950}}</p>
              <p class="reportsText">50+ Years:{{countyInfo.victim_age_50}}</p>
              <p class="reportsText">Unknown:{{countyInfo.victim_age_null}}</p>

              <strong>Demographics: Gender Identity</strong>
              <p class="reportsText">Male:{{countyInfo.victim_gender_Male}}</p>
              <p class="reportsText">Female:{{countyInfo.victim_gender_Female}}</p>
              <p class="reportsText">Transgender:{{countyInfo.victim_trans}}</p>
              <p class="reportsText">Unknown:{{countyInfo.victim_gender_unknown}}</p>

              <strong>Demographics: Race/Ethnicity</strong>
              <p class="reportsText">American Indian of Alaskan Native:{{countyInfo.victim_ethnicity_native_american}}</p>
              <p class="reportsText">Asian:{{countyInfo.victim_ethnicity_asian}}</p>
              <p class="reportsText">Black or African American:{{countyInfo.victim_ethnicity_african_american_black}}</p>
              <p class="reportsText">Hispanic or Latino:{{countyInfo.victim_ethnicity_chicano_latino}}</p>
              <p class="reportsText">Native Hawaiian or Other Pacific Islander:{{countyInfo.victim_ethnicity_hawaiian_pacific_islander}}</p>
              <p class="reportsText">White Non-Latino or Caucasian:{{countyInfo.victim_ethnicity_white}}</p>
              <p class="reportsText">Some Other Race:{{countyInfo.victim_ethnicity_other}}</p>
              <p class="reportsText">Multiple Races:{{countyInfo.victim_ethnicity_multi-racial}}</p>
              <p class="reportsText">Not Reported:{{countyInfo.victim_ethnicity_unknown}}</p>
              <p class="reportsText">Race/Ethnicity Total:{{countyInfo.victim_ethnicity_total}}</p>

              <strong>Types of Victimization</strong>
              <p class="reportsText">Adult Sexual Assault:{{countyInfo.violence_adult_sexual}}</p>
              <p class="reportsText">Adult Sexually Abused/Assaulted as Children Total:{{countyInfo.violence_adult_child_family + countyInfo.violence_adult_child_other}}</p>
              <p class="reportsText">Adult Sexually Abused/Assaulted as Children by Family:{{countyInfo.violence_adult_child_family}}</p>
              <p class="reportsText">Adult Sexually Abused/Assaulted as Children by Other:{{countyInfo.violence_adult_child_other}}</p>
              <p class="reportsText">Bullying:{{countyInfo.violence_bullying}}</p>
              <p class="reportsText">Child Pornography:{{countyInfo.violence_child_pornography}}</p>
              <p class="reportsText">Child Sexual Abuse/Assault Total:{{ountyInfo.violence_minor_other + countyInfo.violence_minor_family}}</p>
              <p class="reportsText">Child Sexual Abuse/Assault by Family:{{countyInfo.violence_minor_family}}</p>
              <p class="reportsText">Child Sexual Abuse/Assault by Other:{{countyInfo.violence_minor_other}}</p>
              <p class="reportsText">Domestic And/Or Family Violence:{{countyInfo.violence_domestic}}</p>
              <p class="reportsText">Elder Abuse or Neglect:{{countyInfo.violence_elder}}</p>
              <p class="reportsText">Human Trafficking: Sex:{{countyInfo.violence_exploitation}}</p>
              <p class="reportsText">Stalking/Harassment Total:{{countyInfo.violence_stalking + countyInfo.violence_phone + countyInfo.violence_internet + countyInfo.violence_harassment + countyInfo.violence_exposing}}</p>
              <p class="reportsText">Stalking/Harassment - Exposing:{{countyInfo.violence_exposing}}</p>
              <p class="reportsText">Stalking/Harassment - Harassment:{{countyInfo.violence_harassment}}</p>
              <p class="reportsText">Stalking/Harassment - Internet:{{countyInfo.violence_internet}}</p>
              <p class="reportsText">Stalking/Harassment - Phone:{{countyInfo.violence_phone}}</p>
              <p class="reportsText">Stalking/Harassment - Stalking:{{countyInfo.violence_stalking}}</p>
              <p class="reportsText">Teen Dating Victimization:{{countyInfo.violence_teen_dating}}</p>
              <p class="reportsText">Other:{{countyInfo.violence_other}}</p>
              <p class="reportsText">Unknown/Pass/Doesn't Know: {{countyInfo.violence_unknown}}</p>

              <!-- <button Onclick="window.location.href='#admin'">Back</button> -->
              <button Onclick="window.location.href='#admin'">Back</button>
          </div>
      </div>
  </body>
</html>
