<!DOCTYPE html>
<html>
<head>
  <title>SVC County Print</title>
  <link rel="stylesheet" href="../vendors/bootstrap.min.css" />
  <link rel="stylesheet" href="../styles/styleless.css" />
  <script type="text/javascript" src="../vendors/angular.min.js"></script>
  <script type="text/javascript" src="../vendors/angular-route.min.js"></script>
  <script type="text/javascript" src="../vendors/ui-bootstrap-tpls-2.1.4.min.js"></script>
  <script type="text/javascript" src="../scripts/clientApp.js"></script>
  <script type="text/javascript" src="../scripts/controllers/dataEntryController.js"></script>
  <script type="text/javascript" src="../scripts/controllers/homeController.js"></script>
  <script type="text/javascript" src="../scripts/controllers/nonVictimController.js"></script>
  <script type="text/javascript" src="../scripts/controllers/adminController.js"></script>
</head>
<body ng-app="myApp" class="noStyle">
<div ng-controller="adminController">
<h4 id="headText">County Print Reporting</h4>

   <div class="dateRange">
     <P>Select a date ranges for reporting</P>
       <label for="startDate">Start Date:</label>
       <input class="startDate" type="date" ng-model="dateStart" />
       <label for="endDate">End Date:</label>
       <input class="endDate" type="date" ng-model="dateEnd" />
       <button class="button" name="queryButton" ng-click="getStuffCounty()">Go</button> <button onclick="print()">Print this page</button>
   </div>
 <div class ="reportContainer">s

 <strong>Individuals who recieved services during the reporting period</strong>
 <p class="reportsText">Total Individuals:</p>
 <strong>NEW individuals who recieved services during the reporting period</strong>
 <p class="reportsText">New Individuals:</p>
 <strong>Hennepin County Zip Code Totals</strong>
<p class="reportsText">55111:</p>
<p class="reportsText">55305:</p>
<p class="reportsText">55311:</p>
<p class="reportsText">55316:</p>
<p class="reportsText">55317:</p>
<p class="reportsText">55327:</p>
<p class="reportsText">55328:</p>
<p class="reportsText">55331:</p>
<p class="reportsText">55340:</p>
<p class="reportsText">55341:</p>
<p class="reportsText">55343:</p>
<p class="reportsText">55344:</p>
<p class="reportsText">55345:</p>
<p class="reportsText">55346:</p>
<p class="reportsText">55347:</p>
<p class="reportsText">55356:</p>
<p class="reportsText">55357:</p>
<p class="reportsText">55359:</p>
<p class="reportsText">55361:</p>
<p class="reportsText">55364:</p>
<p class="reportsText">55369:</p>
<p class="reportsText">55373:</p>
<p class="reportsText">55374:</p>
<p class="reportsText">55375:</p>
<p class="reportsText">55384:</p>
<p class="reportsText">55387:</p>
<p class="reportsText">55388:</p>
<p class="reportsText">55391:</p>
<p class="reportsText">55392:</p>
<p class="reportsText">55401:</p>
<p class="reportsText">55402:</p>
<p class="reportsText">55403:</p>
<p class="reportsText">55404:</p>
<p class="reportsText">55405:</p>
<p class="reportsText">55406:</p>
<p class="reportsText">55407:</p>
<p class="reportsText">55408:</p>
<p class="reportsText">55409:</p>
<p class="reportsText">55410:</p>
<p class="reportsText">55411:</p>
<p class="reportsText">55412:</p>
<p class="reportsText">55413:</p>
<p class="reportsText">55414:</p>
<p class="reportsText">55415:</p>
<p class="reportsText">55416:</p>
<p class="reportsText">55417:</p>
<p class="reportsText">55418:</p>
<p class="reportsText">55419:</p>
<p class="reportsText">55420:</p>
<p class="reportsText">55422:</p>
<p class="reportsText">55423:</p>
<p class="reportsText">55424:</p>
<p class="reportsText">55425:</p>
<p class="reportsText">55426:</p>
<p class="reportsText">55427:</p>
<p class="reportsText">55428:</p>
<p class="reportsText">55429:</p>
<p class="reportsText">55430:</p>
<p class="reportsText">55431:</p>
<p class="reportsText">55435:</p>
<p class="reportsText">55436:</p>
<p class="reportsText">55437:</p>
<p class="reportsText">55438:</p>
<p class="reportsText">55439:</p>
<p class="reportsText">55441:</p>
<p class="reportsText">55442:</p>
<p class="reportsText">55443:</p>
<p class="reportsText">55444:</p>
<p class="reportsText">55445:</p>
<p class="reportsText">55446:</p>
<p class="reportsText">55447:</p>
<p class="reportsText">55450:</p>
<p class="reportsText">55454:</p>
<p class="reportsText">55455:</p>
<p class="reportsText">Other:</p>
<p class="reportsText">Unknown:</p>
<p class="reportsText">Total:</p>
<strong>Demographics: Race/Ethnicity</strong>
<p class="reportsText">American Indian of Alaskan Native:</p>
<p class="reportsText">Asian:</p>
<p class="reportsText">Black or African American:</p>
<p class="reportsText">Hispanic or Latino:</p>
<p class="reportsText">Native Hawaiian or Other Pacific Islander:</p>
<p class="reportsText">White Non-Latino or Caucasian:</p>
<p class="reportsText">Some Other Race:</p>
<p class="reportsText">Multiple Races:</p>
<p class="reportsText">Not Reported:</p>
<p class="reportsText">Not Tracked:</p>
<p class="reportsText">Race/Ethnicity Total:</p>
<strong>Demographics: Gender Identity</strong>
<p class="reportsText">Male:</p>
<p class="reportsText">Female:</p>
<p class="reportsText">Transgender:</p>
<p class="reportsText">Unknown:</p>
<strong>Demographics: Immigrant Status</strong>
<p class="reportsText">Africa:</p>
<p class="reportsText">Asia:</p>
<p class="reportsText">Europe:</p>
<p class="reportsText">Mex/Cen/South America:</p>
<p class="reportsText">Middle East:</p>
<p class="reportsText">Other:</p>
<p class="reportsText">Unknown/Pass:</p>
<p class="reportsText">No:</p>
<strong>Demographics: Age</strong>
<p class="reportsText">0 - 18:</p>
<p class="reportsText">19 - 50:</p>
<p class="reportsText">50+ Years:</p>
<p class="reportsText">Unknown:</p>
<strong>Demographics: Disability</strong>
<p class="reportsText">Blind/Visually Impaired:</p>
<p class="reportsText">Physical Disabilities:</p>
<p class="reportsText">Mental Illness:</p>
<p class="reportsText">Deaf/Hard of Hearing:</p>
<p class="reportsText">Intellectual of Developmental Disabilities:</p>
<p class="reportsText">None:</p>
<p class="reportsText">Other:</p>
<p class="reportsText">Unknown/Pass/Doesn't Know:</p>
<strong>Types of Victimization</strong>
<p class="reportsText">Adult Physical Assaul:</p>
<p class="reportsText">Adult Sexual Assault:</p>
<p class="reportsText">Adults Sexual Abuse/Assault:</p>
<p class="reportsText">Arson:</p>
<p class="reportsText">Bullying:</p>
<p class="reportsText">Burglary:</p>
<p class="reportsText">Child Physical Abuse or Neglect:</p>
<p class="reportsText">Child Pornography:</p>
<p class="reportsText">Child Sexual Abuse or Neglect:</p>
<p class="reportsText">Domestic And/Or Family Violence:</p>
<p class="reportsText">DUI/DWI Incidents:</p>
<p class="reportsText">Elder Abuse or Neglect:</p>
<p class="reportsText">Hate Crime:</p>
<p class="reportsText">Human Trafficking: Labor:</p>
<p class="reportsText">Human Trafficking: Sex:</p>
<p class="reportsText">Identity Theft:</p>
<p class="reportsText">Kidnapping:</p>
<p class="reportsText">Mass Violence:</p>
<p class="reportsText">vOther Vehicular Victimization:</p>
<p class="reportsText">Robbery:</p>
<p class="reportsText">Mass Violence:</p>
<p class="reportsText">Other Vehicular Vicimization:</p>
<p class="reportsText">Robbery:</p>
<p class="reportsText">Stalking/Harassment:</p>
<p class="reportsText">Survivors of Homicide Victims:</p>
<p class="reportsText">Teen Dating Victimization:</p>
<p class="reportsText">Terrorism:</p>
<p class="reportsText">Other:</p>
<strong>Type of Service (NEW Clients)</strong>
<p class="reportsText">Crisis Counseling:</p>
<p class="reportsText">Legal Advocacy: Criminal Justice:</p>
<p class="reportsText">Legal Advocacy: Civil Legal:</p>
<p class="reportsText">Medical Advocacy:</p>
<p class="reportsText">Other In-Person Advocacy Services:</p>
<strong>Client Services Provided for NEW & REPEAT Clients</strong>
<p class="reportsText">First Contact:</p>
<p class="reportsText">Follow-Up:</p>
<p class="reportsText">Information or Referral:</p>
<p class="reportsText">Personal Advocacy:</p>
<p class="reportsText">Support During Evidentiary Exam:</p>
<p class="reportsText">Criminal Justice Support:</p>
<p class="reportsText">Legal Advocacy:</p>
<p class="reportsText">Financial Assistance:</p>
<p class="reportsText">Reparations Filing Assistance:</p>
<p class="reportsText">Group Treatment/Support:</p>
 </div>
</div>





</body>
</html>
