<!DOCTYPE html>
<html>
<head>
  <title>SVC Federal Print</title>
  <link rel="stylesheet" href="../vendors/bootstrap.min.css" />
  <link rel="stylesheet" href="../styles/styleless.css" />
  <script type="text/javascript" src="../vendors/angular.min.js"></script>
  <script type="text/javascript" src="../vendors/angular-route.min.js"></script>
  <script type="text/javascript" src="../vendors/ui-bootstrap-tpls-2.1.4.min.js"></script>
  <script type="text/javascript" src="../scripts/clientApp.js"></script>
  <script type="text/javascript" src="../scripts/controllers/dataEntryController.js"></script>
  <script type="text/javascript" src="../scripts/controllers/homeController.js"></script>
  <script type="text/javascript" src="../scripts/controllers/nonVictimController.js"></script>
  <script type="text/javascript" src="../scripts/controllers/adminController.js"></script>
</head>
<body ng-app="myApp" class="noStyle">

  <div ng-controller="adminController">
    <h4 id="headText">Federal Reporting</h4>
    <div class="dateRange">
      <P>Select a date ranges for reporting</P>
        <label for="startDate">Start Date:</label>
        <input class="startDate" type="date" ng-model="dateStart" />
        <label for="endDate">End Date:</label>
        <input class="endDate" type="date" ng-model="dateEnd" />
        <button class="button" name="queryButton" ng-click="getStuffFederal()">Go</button> <button onclick="print()">Print this page</button>
    </div>
    <!-- <button onclick="print()">Print this page</button> -->



           <div class ="reportContainer">

            <p class="reportsText">Individuals who received services during the reporting period: {{federalInfo.total_overall}} </p>
            <p class="reportsText">NEW individuals who received services during the reporting period: {{federalInfo.total_new}} </p>
            <p class="reportsText"> Race/Ethnicity </p>
            <strong>Demographics</strong>
            <p class="reportsText">American Indian of Alaskan Native: {{federalInfo.victim_ethnicity_native_american}} </p>
            <p class="reportsText">Asian: {{federalInfo.victim_ethnicity_asian}}</p>
            <p class="reportsText">Black or African American: {{federalInfo.victim_ethnicity_african_american_black}}</p>
            <p class="reportsText">Hispanic or Latino: {{federalInfo.victim_ethnicity_chicano_latino}}</p>
            <p class="reportsText">Native Hawaiian or other Pacific Islander: {{federalInfo.victim_ethnicity_hawaiian_pacific_islander}}</p>
            <p class="reportsText">White Non-Latino or Caucasian: {{federalInfo.victim_ethnicity_white}}</p>
            <p class="reportsText">Some Other Race: {{federalInfo.victim_ethnicity_other}}</p>
            <p class="reportsText">Multiple Races: {{federalInfo.victim_ethnicity_multi-racial}}</p>
            <p class="reportsText">Not Reported: {{federalInfo.victim_gender_unknown}}</p>
            <p class="reportsText">Race/Ethnicity Total: {{federalInfo.victim_ethnicity_total}}</p>
            <strong>Gender</strong>
            <p class="reportsText">Male: {{federalInfo.victim_gender_Male}}</p>
            <p class="reportsText">Female: {{federalInfo.victim_gender_Female}}</p>
            <p class="reportsText">Non-binary:{{federalInfo.victim_gender_Non-binary}}</p>
            <p class="reportsText">Other: {{federalInfo.victim_gender_Other}}</p>
            <p class="reportsText">Not Reported: {{federalInfo.victim_gender_unknown}}</p>
            <p class="reportsText">Total: {{federalInfo.victim_gender_total}}</p>
            <strong>Age</strong>
             <p class="reportsText">0 - 12: {{federalInfo.victim_age_012}}</p>
             <p class="reportsText">13 - 17: {{federalInfo.victim_age_1317}}</p>
             <p class="reportsText">18 - 24: {{federalInfo.victim_age_1824}}</p>
             <p class="reportsText">25 - 59: {{federalInfo.victim_age_2559}}</p>
             <p class="reportsText">60 and Older: {{federalInfo.victim_age_60}}</p>
             <p class="reportsText">Not Reported: {{federalInfo.victim_age_null}}</p>
             <p class="reportsText">Total: {{federalInfo.victim_age_total}}</p>
             <strong>Types of Victimization</strong>
             <p class="reportsText">Adult Sexual Assault: {{federalInfo.violence_adult_sexual}} </p>
             <p class="reportsText">Adult Sexually Abused/Assaulted as Children: {{federalInfo.violence_adult_child_other + federalInfo.violence_adult_child_family}}</p>
             <p class="reportsText">Adult Sexually Abused/Assaulted as Children by Family:{{federalInfo.violence_adult_child_family}}</p>
             <p class="reportsText">Adult Sexually Abused/Assaulted as Children by Other:{{federalInfo.violence_adult_child_other}}</p>
             <p class="reportsText">Bullying: {{federalInfo.violence_bullying}}</p>
             <p class="reportsText">Child Pornography: {{federalInfo.violence_child_pornography}}</p>
             <p class="reportsText">Child Sexual Abuse/Assault Total: {{federalInfo.violence_minor_other + federalInfo.violence_minor_family}}</p>
             <p class="reportsText">Child Sexual Abuse/Assault by Family: {{federalInfo.violence_minor_family}}</p>
             <p class="reportsText">Child Sexual Abuse/Assault by Other: {{federalInfo.violence_minor_other}}</p>
             <p class="reportsText">Domestic And/Or Family Violence: {{federalInfo.violence_domestic}}</p>
             <p class="reportsText">Elder Abuse or Neglect: {{federalInfo.violence_elder}}</p>
             <p class="reportsText">Human Trafficking: Sex: {{federalInfo.violence_exploitation}}</p>
             <p class="reportsText">Stalking/Harassment Total: {{federalInfo.violence_exposing + federalInfo.violence_harassment + federalInfo.violence_internet + federalInfo.violence_phone + federalInfo.violence_stalking}}</p>
             <p class="reportsText">Stalking/Harassment - Exposing: {{federalInfo.violence_exposing}}</p>
             <p class="reportsText">Stalking/Harassment - Harassment: {{federalInfo.violence_harassment}}</p>
             <p class="reportsText">Stalking/Harassment - Internet: {{federalInfo.violence_internet}}</p>
             <p class="reportsText">Stalking/Harassment - Phone: {{federalInfo.violence_phone}}</p>
             <p class="reportsText">Stalking/Harassment - Stalking: {{federalInfo.violence_stalking}}</p>
             <p class="reportsText">Teen Dating Victimization: {{federalInfo.violence_teen_dating}}</p>
             <p class="reportsText">Other: {{federalInfo.violence_other}}</p>
             <p class="reportsText">Unknown/Pass/Doesn't Know: {{federalInfo.violence_unknown}}</p>
             <strong>Types of Victimization: Special classification of individuals</strong>
             <p class="reportsText">Deaf/Hard of Hearing: {{federalInfo.disability_deaf}} </p>
             <p class="reportsText">Homeless: {{federalInfo.homeless}}</p>
             <p class="reportsText">Immigrants/Refugees/Asylum Seekers: {{federalInfo.victim_immigrant_total}}</p>
             <p class="reportsText">LGBTQ: {{federalInfo.victim_sexual_orientation_total}}</p>
             <p class="reportsText">Veterans: {{federalInfo.veteran}}</p>
             <p class="reportsText">Victims with Disabilities: Cognitive/Physical/Mental: {{federalInfo.disability_total_unique}}</p>
             <p class="reportsText">Victims with Limited English Proficiency: {{federalInfo.limited_english}}</p>
             <p class="reportsText">Individuals assisted with a victim compensation application during the reporting period:{{federalInfo.exception_compensation_unique}} </p>
             <strong>Individuals who received services during the reporting period</strong>
             <p class="reportsText">Information/Referral: {{federalInfo.information_referral}}</p>
             <p class="reportsText">Personal Advocacy/Accompaniment: {{federalInfo.personal_advocacy_unique}}</p>
             <p class="reportsText">Emotional Support or Safety Service: {{federalInfo.total_new}}</p>
             <p class="reportsText">Criminal/Civil Justice System:   {{federalInfo.criminal_civic_unique}}</p>
             <strong>(A) Information & Referral: Total services provided during the reporting period</strong>
             <p class="reportsText">(A1) Information about the criminal justice process:{{federalInfo.criminal_justice_unique}}</p>
             <p class="reportsText">(A2) Information about victims rights: {{federalInfo.contact_type_in-person}}</p>
             <p class="reportsText">(A3) Referral to other victim support programs:{{federalInfo.referral_agency}}</p>
             <p class="reportsText">(A4) Referral to other services, supports, resources:  {{federalInfo.referral_other}}</p>
             <strong>(B) Personal Advocacy/Accompaniment: Total services provided during the reporting period</strong>
             <p class="reportsText">(B1) Victim Advocacy/Accompaniment to Emergency Medical Care:{{number}}</p>
             <p class="reportsText">(B2) Victim Advocacy/Accompaniment to Medical Forensic Exam: {{federalInfo.medical_exam_support}}</p>
             <p class="reportsText">(B3) Law Enforcement Interview Advocacy/Accompaniment: {{federalInfo.legal_law_enforcement_interview}}</p>
             <p class="reportsText">(B6) Immigration Assistance:{{federalInfo.legal_immigration}}</p>
             <p class="reportsText">(B7) Intervention with Employer, Creditor, Landlord, or Academic Institution:{{federalInfo.legal_intervention}}</p>
             <p class="reportsText">(B9 Transportation Assistance):{{federalInfo.transportation}}</p>
             <strong>(C) Emotional Support of Safety Services: Total services provided during the reporting period</strong>
             <p class="reportsText">(C1) Crisis Intervention:{{federalInfo.total_overall}}</p>
             <p class="reportsText">(C2) Hotline/Crisis Counseling: {{federalInfo.contact_type_phone}}</p>
             <p class="reportsText">(C4) Individual Counseling: {{federalInfo.crisis_counseling_individual}}</p>
             <p class="reportsText">(C5) Support Groups:{{federalInfo.crisis_counseling_group}}</p>
             <p class="reportsText">(C7) Emergency Financial Assistance:{{federalInfo.emergency_financial}}</p>
             <strong>(E) Criminal/Civil Justice System Assistance: Total services provided during the reporting period</strong>
             <p class="reportsText">(E4) Civil Legal Assistance in Obtaining Protection or Restraining Order:{{federalInfo.legal_oft_hro}}</p>
             <p class="reportsText">(E6) Other Emergency-Justice Related Assistance:{{federalInfo.other_emergency_justice}}</p>
             <p class="reportsText">(E7) Immigration Assistance:{{federalInfo.legal_immigrantion}}</p>
             <p class="reportsText">(E8) Prosecution Interview Advocacy/Accompaniment:{{federalInfo.legal_prosecution_related}}</p>
             <p class="reportsText">(E9) Law Enforcement Interview Advocacy/Accompaniment:{{federalInfo.legal_law_enforcement_interview}}</p>
             <p class="reportsText">(E10) Criminal Advocacy/Accompaniment:{{federalInfo.legal_court_advocacy}}</p>
            </div>


<button Onclick="window.location.href='#admin'">Back</button>
</div>
</body>
</html>
